[2016-03-04 13:32] chrisdone opened #13 "Functions should reject `"."` as input"

[2016-03-04 13:39] #13 closed

[2016-03-04 13:42] chrisdone commented on #13
@mrkkrp Bumped on Hackage as `0.5.4`.

[2016-03-04 13:49] mrkkrp commented on #13
Thanks!

[2016-03-04 13:51] mrkkrp commented on #13
Oh, wait. This is not quite right. `...` is a valid file name.

[2016-03-04 13:55] mrkkrp commented on #13
@chrisdone, I fear you were too fast to put it on Hackage, this will reject valid file names that consist of more then 2 dots.

[2016-03-04 14:04] chrisdone commented on #13
@mrkkrp Hmm, `...` doesn't seem like a sensible filename, but you're right, it's valid. I'll change the check. Don't worry, I don't expect this to ruin anyone's day.

[2016-03-04 14:11] chrisdone commented on #13
Okay, I pushed the check that only test for `"."` and `".."`. Test suite updated to ensure `...` parses.

[2016-03-04 14:16] mrkkrp commented on #13
Nice. Thank you!

[2016-03-06 04:07] hasufell opened #16 "Is Dir vs File really useful?"
I'm in the process of removing all String/FilePath stuff from my [WIP file manager](https://github.com/hasufell/hsfm).

I found this library to be the most interesting for that so far. However, when dealing with the filesystem on a lower level, a lot of operations work the same on regular files and directories. In the end, they are both "files" anyway and the information about the correct file typ

[2016-03-06 04:45] mrkkrp commented on #16
I'm using this library/approach for several months now and the only thing I can say that it certainly has saved me from some hours spent debugging. I really don't see how `Dir` vs `File` is not useful. When you use `removeDirectory`, you need a directory, `removeFile` needs a file. I've written a companion package, `path-io`:

https://hackage.haskell.org/package/path-io-1.0.1/docs/Path-IO.html

It

[2016-03-06 08:18] chrisdone commented on #16
A file manager is a special case, I think. The stack project makes heavy
use of the distinction.
On 6 Mar 2016 05:07, "Julian Ospald" <notifications@github.com> wrote:

[2016-03-06 08:53] snoyberg opened #17 "Haddock build failure with 0.5.6"
[code]

[2016-03-06 08:56] mrkkrp commented on #17
PRs addressing this: #14 and #15.

[2016-03-06 13:55] hasufell commented on #16
The point is... you can encode that information on the "constructor level" instead, which still allows you to not care whether something is a directory or a non-directory ("File" is misleading). And for those functions where you must have a directory, you simply pattern match on it. Yes, I can see that it's quite different. But you would be able to write a proper `getContents` function, for exampl

[2016-03-06 14:05] mrkkrp commented on #16
To pattern-match on constructors you need to export them. Once you export them anyone can create path to file with `/foo/bar/` inside, i.e. you have no useful invariants anymore.

What's wrong with `getContents :: IO ([Path Abs Dir], [Path Abs File])'?

[2016-03-06 14:28] hasufell commented on #16
You can fix that with ViewPatterns/PatternSynonyms.

[2016-03-06 16:35] chrisdone commented on #16
I'm not going to change this point of the library. It's pretty fundamental
to its advantages.
On 6 Mar 2016 15:28, "Julian Ospald" <notifications@github.com> wrote:

[2016-03-06 16:42] #16 closed

[2016-03-06 16:44] chrisdone commented on #17
Merged in.

[2016-03-06 16:44] #17 closed

[2016-03-06 17:44] hasufell commented on #16
Uhm, this was more meant as a discussion, not a proposal.

Another thing I cannot figure out how to do properly with this library is when I read symlinks.
We have `readSymbolicLink :: FilePath -> IO FilePath`. What will be returned is not known at compile-time. It can point to a directory, to a regular file or another symlink. So when you do not want `realpath`, because you want to keep the symlin

[2016-03-08 14:28] hasufell opened #18 "Breaking the guarantees of 'Path Rel Dir'"
In ghci:

[code]

That means I have a relative dir that is called `/`.

But when I try to parse it, it fails:

[code]

So I've just constructed a `Path Rel Dir` via the library functions that is not supposed to be a relative dir.

[2016-03-08 15:17] hasufell commented on #18
I think the only reliable way to fix that is to break API and do something along these lines:
[code]

[2016-03-10 13:38] chrisdone commented on #18
Good point. Maybe `dirname` should be split into `relDirname` to get the dirname of a relative directory which is always valid, and `absDirName` which is not guaranteed.

[2016-03-10 18:29] hasufell commented on #18
Another way could be to add another Dir type that expresses the directory is a non-root directory. The `/` dir is always a bit special, but I'm not sure if that's a good reason to encode that information on type level. It'll also be quite intrusive to the API.

[2016-03-29 14:48] hasufell opened #19 ""~/" is rejected as relative path"
`~/` is not in the POSIX standard. It's totally [a shell thing](https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html). You can create a directory with the name `~` just fine:
[code]

A path library probably shouldn't do any shell-like stuff. `~/` is a valid relative path. If the user expects shell-like expansion of paths, then that has to be handled on another level by the appli

[2016-04-15 15:34] hasufell opened #20 "provide a module using posix-paths"
Haskell Strings are not particularly safe to represent filepaths which are often obtained via or used with low-level functions where the representation is mostly just a `CString`. This can lead to subtle encoding/decoding bugs when converted to String.

This library still uses `String` under the hood via `System.FilePath`.

There is a library [posix-paths](https://github.com/JohnLato/posix-paths)

[2016-04-16 12:33] hasufell opened #21 "Provide a stricter type for filenames?"
When using functions that read a directory stream you strictly get only filenames, never paths, which means there is no `/` allowed. When comparing filenames it's convenient to know that it is not a path. It's useful for other cases too where I want to save a pair of filename + anchor directory.

`Path Rel t` does not really give me that guarantee. I wonder if adding another separate type like `Pa

[2016-06-27 22:50] harendra-kumar commented on #19
I agree its a bit odd to be aware of the "~" expansion at this level. Another discrepancy is that if we are disallowing "~/" then why not "~user/".

[2016-06-27 23:14] harendra-kumar opened #27 "Allow ".." in path where possible"
The parsing functions do not allow `..` in path at all. I believe it is because of the need of directory lookup for normalization of the path. But that is not always the case, in some cases we can normalize the path without any dir lookup even if it has ".." components.

In case of absolute paths we can always resolve a ".." component without directory lookup:
[code]

For relative paths some, but

[2016-06-27 23:29] harendra-kumar opened #28 "hardcoded path separator"
Does [this](https://github.com/chrisdone/path/blob/609b2585f05a3225800c44302a9391144717aee1/src/Path.hs#L368) work for windows?

[code]

[2016-06-28 03:34] harendra-kumar commented on #27
I missed the symlink case - http://neilmitchell.blogspot.in/2015/10/filepaths-are-subtle-symlinks-are-hard.html . This won't work in case of symlinks.

[2016-06-28 03:34] #27 closed

[2016-06-28 09:29] chrisdone commented on #28
I think not. It should do the same as [here](https://github.com/chrisdone/path/blob/609b2585f05a3225800c44302a9391144717aee1/src/Path.hs#L195).

[2016-07-21 15:16] harendra-kumar opened #31 "Discuss: Allow Path Rel Dir to represent an empty path"
I needed to represent a relative directory path which may or may not be empty. In absence of an empty `Path Rel Dir` something like `Maybe` will be used to represent this situation. I was wondering if we could allow representation of an empty rel dir.

The operations on an empty path will look like:

[code]

We will perhaps also have to parse "/" as an empty rel dir because fromRelDir will return

[2016-07-21 15:56] chrisdone commented on #31
These aren't equivalent, as `/` is an absolute path. The empty string isn't a valid file path in any system I'm aware of (Windows or UNIX), so `/` does not denote `[empty filepath] [optional slash]`, because empty filepath isn't a valid concept.

This would be a bad result for e.g. doing `openFile`  on an empty path.

It doesn't make too much sense for me. 😭

[2016-07-21 15:56] #31 closed

[2016-07-21 18:37] harendra-kumar commented on #31
I am not sure I got the point here completely. `/` is an absolute path only when it is parsed into the absolute type using `parseAbsDir`. But if parsed as relative path type it is more like representing the redundant `/` in a path.

Relative path is always used relative to some reference point. A relative `empty` or `null` path is a valid concept because it can be applied to a reference point (an

[2016-07-22 05:23] harendra-kumar commented on #31
BTW, we do not really have to parse `/` as relative path.  I thought of that only because `toFilePath` returns a trailing `/` at the end, so to be consistent it will return an empty rel dir path as `/` instead of a plain empty string `""`.  If we return it we should also parse it.

But now I think the logical return value for this case is `"./"` instead of `/` or a plain empty `""` and everything

[2016-07-24 04:33] harendra-kumar opened #33 "parent and dirrename should return In MonadThrow m"
Should this be fixed?

[code]

[2016-07-24 19:01] chrisdone commented on #33
It's definitely an inconsistency.

[2016-07-25 10:31] harendra-kumar commented on #33
There are two ways to fix that. Let `parent` throw an exception on `/` or let `isParentOf` return true in case of `/`. Unix traditionally allows `cd ..` when you are in root dir so the latter might be in line with that.

[2016-07-25 14:25] chrisdone commented on #33
Indeed, the magicness of the root directory seems to give us no option but to pick something not great. `isParentOf` returning true for the same two arguments seems to mess with people's intuition of hierarchy.

Putting `parent` in `MonadThrow m` is inconvenient, but it is more correct. Perhaps we can plan a migration path.

[2016-07-25 14:27] #28 closed

[2016-07-25 14:29] chrisdone commented on #21
Hm, I think it could be acceptable. With a straight-forward "lifting" from `Fn` to `Rel`, this wouldn't "pollute" the API or mess with it much. We'd just add a few more parsers and TH constructors.

[2016-07-25 14:30] chrisdone commented on #21
From what you described here, feel free to make a PR, I'll probably merge it.

[2016-07-25 14:36] chrisdone commented on #18
I think `dirname`, like `parent` (#33), being a breaking change sounds like a reasonable and less intrusive change.

I propose we plan a migration path for changing this function's type.

[2016-07-25 14:37] chrisdone commented on #19
I agree. Let's lift that restriction.

[2016-07-25 14:52] #19 closed

[2016-07-25 15:23] harendra-kumar commented on #33
The two options wrt root dir sound like this:
1) Sorry, its a dead end you can't go beyond this
2) You try to go up, you succeed and you find yourself in the same place

The first one is a more explicit and intuitive handling than the latter. Looks like a better option to me as well though a bit more inconvenient compared to the other one.

[2016-07-25 15:29] chrisdone commented on #33
Indeed. I think (1) is explicit and the kind of thing this library is about.

[2016-07-25 17:41] harendra-kumar commented on #33
Throw an exception or return a `Maybe`?

[2016-07-25 17:49] mrkkrp commented on #33
I think it should throw just like all the other functions. It's more flexible and you can always get a `Maybe` value from `MonadThrow m => ... m a`.

[2016-09-01 01:43] sjakobi opened #37 "Random test suite failures"
I see random failures in several test cases when running `stack test` at c9e3aae8c0e8adb50ded50f4a20e805ea7910832:

[code]

[code]

[code]

[2016-09-01 07:56] chrisdone commented on #37
What does this produce on your machine?

[code]

[2016-09-01 11:45] sjakobi commented on #37
[code]

[2016-09-01 13:06] chrisdone commented on #37
That's quite curious. I'm not sure why the test fails. @NorfairKing Any idea?

[2016-09-01 18:23] NorfairKing commented on #37
I do know why this fails. I said so in my pr: #36

The validity instance is not strict enough because `Path "//"` is still considered a valid `Path Abs Dir`.
This may not be a problem in practice because "//" will be normalized to "/" upon parsing, but it should be reflected in the validity instance nonetheless.

[2016-09-01 19:13] chrisdone commented on #37
Ohh; so the validity instance just needs to be stricter. We can probably replace the method implementations with just calling the parser and seeing if the resulting String matches the input.

[2016-09-01 20:59] NorfairKing commented on #37
Cool! Please mention me on that change. I can try doing it too, if you want.

[2016-09-02 08:44] chrisdone commented on #37
Please give it a shot, you can put the Gen instances in .Internal along with the parsers if you need to.

[2016-09-02 09:59] NorfairKing commented on #37
I made the validity instance more restrictive, see [here](https://github.com/NorfairKing/path/commit/d6d02aa54c284d5873b7af64e234eca01acf3054).
Now the validity instance is strict enough to expose some bugs:

[code]

We should add regressions tests for these when we fix them.

[2016-10-25 08:52] athanclark opened #39 "Tests fail on Windows!"
I hate windows!

When you run `stack test` on the fresh clone of commit c9e3aae8 in a windows 10 environment, you'll see (at compile time !!) the build will fail:

![](https://s10.postimg.org/aoogvbvo9/Screenshot_from_2016_10_25_01_49_00.png)

Not sure yet what's going on, but will address soon!

[2016-10-25 16:10] athanclark commented on #39
I think the error is stemming from filepath - I changed the `import System.FilePath as FilePath` to `import System.FilePath.Posix as ...`, which keeps tests passing on linux, but in windows, the test is just burning cycles for some reason. It might be the combination of running a virtualbox VM and quickcheck tests, but I'm not sure yet.

[2016-11-03 01:15] NorfairKing opened #41 "Whitespace is allowed in paths."
[code]

[2016-11-24 10:20] chrisdone commented on #20
This library intentionally uses `String` because all the standard Haskell functions use that and take care of encodings in a cross-platform manner.

[2016-11-24 10:20] #20 closed

[2016-11-24 13:58] chrisdone commented on #41
Agree, this is probably always a mistake.

[2016-11-25 18:56] NorfairKing commented on #41
In the case of spaces: they should probably be escaped when the path is being parsed and not escaped when stored as a `Path`

[2016-12-12 19:24] hvr opened #46 "Compile failure / inaccurate version bounds"
The release declares

[code]

However, GHC 7.8 and GHC 7.6 disagree:

[code]

[code]

[2016-12-30 18:17] peti opened #48 "path-0.5.11 test suite failures"
Citing from https://hydra.nixos.org/build/45670155/nixlog/46/raw:

[code]

[2017-01-07 11:00] Ongy commented on #41
I think it should be noted, that newlines are valid characters in paths (on some platforms).

On linux
[code]
Will create a directory that has a newline in its name.
Such paths will (almost) never exist purposly, but technically are valid.

[2017-01-07 11:18] NorfairKing commented on #41
aha! I didn't know this. I am undecided as to whether we should leave it possible then.

[2017-01-07 11:33] chrisdone commented on #41
I also tested that it's possible, but still it's probably always a mistake.

On 7 Jan 2017 11:18, "Tom Sydney Kerckhove" <notifications@github.com>
wrote:

[2017-01-07 12:49] NorfairKing commented on #41
@chrisdone, I agree. It's up to you wether you want to allow it.

[2017-01-19 22:36] NorfairKing opened #53 "Use `validity-path` and `genvalidity-path` instead of ad-hoc orphans?"
See https://github.com/NorfairKing/validity.

[2017-01-24 17:10] snoyberg opened #54 "Test suite compilation failure"
[code]

[2017-01-24 20:04] NorfairKing commented on #54
Fix is on its way.

[2017-01-24 20:07] NorfairKing commented on #54
To be clear: the fix will be an upper-bound on the version of this library.

[2017-01-24 20:11] snoyberg commented on #54
FTR, that won't help for the Stackage build failures.

[2017-01-24 20:12] NorfairKing commented on #54
@snoyberg The reason is that genvalidity 0.3 requires `TypeApplications` and this is not available for GHC 7.10

[2017-01-24 20:14] snoyberg commented on #54
I don't know about any of that, but I discovered this with a Stackage build with GHC 8.0.2, and we're not likely to roll back a package due to a test suite upper bound, but instead skip the test suite entirely.

[2017-01-24 20:14] NorfairKing commented on #54
@snoyberg, I could upgrade the test, but then the test suite will only run with base >= 4.9. Is that better?

[2017-01-24 20:16] NorfairKing commented on #54
@chrisdone Any input?

[2017-01-24 21:50] mrkkrp commented on #54
You can't make your package compile with more than one version of GHC? Also, I don't understand, if this `genvalitidy` thing requires `TypeApplications` to work (which is not nice for users of older GHC versions, would be OK for a hobby project, but from industrial libraries I'd expect more backward-compatible solutions), then why does it fail with GHC 8.0.2? Is there a setup it works fine with at

[2017-01-24 22:37] NorfairKing commented on #54
@mrkkrp,

Some explanation
Version `0.2` of `genvalidity-hspec` does not use `TypeApplications` but `0.3` does.
These tests are built for version `0.2` but `0.3` is (trying to be) in stackage.

`TypeApplications` is essential in the design of `genvalidity-hspec`.

That's fair, but a choice has to be made:

- Get `genvalidity-*" out of stackage.
- Get this test suite out of stackage
- Make this tes

[2017-01-24 23:44] chrisdone commented on #54
I'm fine with making _this part_ of the test suite dependent on GHC 8. We move the genvalidity tests into a separate test suite with that condition and we should be ok. If testing on an older version of GHC, we only have the hspec-based test which I'm fine with. Is that good?

[2017-01-25 00:22] NorfairKing commented on #54
@chrisdone That sounds like a great compromise.

I'll make a PR for that if you'd like.

[2017-01-25 10:07] chrisdone commented on #54
Great thanks!

On 25 Jan 2017 00:22, "Tom Sydney Kerckhove" <notifications@github.com>
wrote:

[2017-01-30 09:50] #54 closed

[2017-01-30 10:08] chrisdone commented on #54
@snoyberg the genvalidity tests are now enabled with a flag.

[2017-01-30 10:58] NorfairKing commented on #54
Note that the tests should compile (and pass) on the latest stackage.

[2017-02-03 20:32] mrkkrp commented on #46
Yep, I'm now deciding wether to drop `path` as a dependency or drop support for older GHCs for one project. CI could help here to ensure that the package builds OK with all GHC versions.

[2017-02-07 16:48] peti commented on #48
Citing from https://hydra.nixos.org/build/47923567:

[code]

[2017-02-11 05:12] 3noch opened #59 "Make QuasiQuoters for compile-time parsing"
In general I prefer QuasiQuoters over TemplateHaskell whenever possible since QQs are less intrusive on syntax and don't require a certain declaration ordering.

[2017-03-01 11:45] chrisdone opened #60 "New maintainers"
Hi all,

After posting a [request for maintainers](https://mail.haskell.org/pipermail/haskell-cafe/2017-February/126401.html), the following people have expressed interest in being a comaintainer of the `path` package. I've added them as collaborators, and I've moved `path` under `commercialhaskell`.

* Simon Jakobi @sjakobi
* Tom Sydney Kerckhove @NorfairKing
* Wojciech Daniło @wdanilo
* Joe Hill

[2017-03-01 11:54] sjakobi commented on #60
That's a lot of (co)maintainers for such a small package! :grin: I'm sure we'll make this package even better than it already is!

I'm sjakobi on Hackage.

[2017-03-01 11:56] chrisdone commented on #60
@sjakobi added!

[2017-03-01 12:01] sjakobi opened #61 "Setup AppVeyor"
In progress at https://ci.appveyor.com/project/sjakobi/path.

[2017-03-01 12:15] wdanilo commented on #60
I totally agree with the guidelines. Simon I think the number of
maintainers is not too big. It's much better to have a strong group of
maintainers seeing different perspectives and having different use cases in
mind than small group that don't really have much time to progress with the
library (parsec is an example of the later). Although path management seems
simple on the first look, there are

[2017-03-01 12:19] sjakobi commented on #61
@chrisdone: I believe that because I'm not an owner of the commercialhaskell organization, AppVeyor can't automatically add the appropriate webhooks in this repo.

As you are an owner of the organization you could do that by opening a (free) AppVeyor account and adding this project. Alternatively you could create an AppVeyor account for the entire commercialhaskell organization but I'm not quite s

[2017-03-01 12:24] sjakobi commented on #61
Instruction for setting up an organizational account are in the paragraphs below https://www.appveyor.com/docs/team-setup/#setting-up-appveyor-account-for-github-organization.

[2017-03-01 12:44] chrisdone commented on #61
@sjakobi Started a build here: https://ci.appveyor.com/project/chrisdone/path

[2017-03-01 12:47] sjakobi commented on #61
Great! The webhooks seem to work alright!

[2017-03-01 12:47] chrisdone commented on #60
Added danilo2!

On 1 March 2017 at 12:15, Wojciech Daniło <notifications@github.com> wrote:

[2017-03-01 12:54] sjakobi opened #63 "Add benchmarks and look for optimizations"
I'm under the impression that parsing a `Path` has by and by become more expensive.

In https://github.com/commercialhaskell/stack/issues/1235#issuecomment-250891401 we discovered that `stack` was spending a very significant amount of time by parsing `Path`s in some workflows.

It would be nice if we could find some ways to make `path` a bit faster again. Right now I'm mostly thinking of redundant

[2017-03-01 12:54] mrkkrp commented on #60
I'm glad `path` has got more maintainers, this is a useful package that will benefit from more attention.  I'd propose myself as a co-maintainer, but I don't read Haskell Care these days, so I didn't know anything about this :-)

[2017-03-01 12:58] sjakobi commented on #60
Personally I think this is a great idea, especially because your [`path-io`](https://github.com/mrkkrp/path-io) is probably the most exhaustive consumer of our API.

[2017-03-01 13:02] #61 closed

[2017-03-01 13:17] sjakobi commented on #60
I've made a Hackage revision to update the repository info – turns out GitHub also redirects from the old repo URL… :/

[2017-03-01 13:29] chrisdone commented on #60
Agreed, I'll add @mrkkrp.

[2017-03-01 13:36] NorfairKing commented on #60
Hithere.
I'm really excited to be able to help here.
My hackage username is NorfairKing.

[2017-03-01 13:39] chrisdone commented on #60
Added!

On 1 March 2017 at 13:36, Tom Sydney Kerckhove <notifications@github.com>
wrote:

[2017-03-01 23:48] mrkkrp commented on #18
Let's put the change on 0.6.0 milestone? As I understand the consensus is that `dirname` should live in `MonadThrow`?

[2017-03-01 23:50] mrkkrp commented on #33
Should this be considered a duplicate of #18? Can we close it in favor of that issue?

[2017-03-01 23:52] mrkkrp commented on #60
Do you have a plan for what version to release next: 0.5.13 or 0.6.0? We could start assigning milestones to issues. For example things like #18 could be assigned to 0.6.0 as they require breaking changes.

[2017-03-01 23:56] mrkkrp commented on #41
I think since `\n` is technically correct (like indeed almost any characters) in Unix paths, it should be allowed there. It's not allowed on Windows, so on that OS consturction of `Path` with `\n` in it should fail. I think `filepath` already has functions that will do exactly this sort of check. The practial consequence is that our test suite should have conditional parts that depend on OS.

[2017-03-01 23:58] mrkkrp commented on #63
@sjakobi Do you indend to write the benchmarks? If yes, we should start assign people to issues so we know who does what.

[2017-03-02 00:11] joehillen commented on #60
@mrkkrp Let's get some PRs open and then decide how to release them

[2017-03-02 00:43] mrkkrp commented on #60
@chrisdone I've just read your post on Haskell Cafe. I recommend you buy this thing:

https://www.amazon.com/gp/product/B01KBKFT7C/

And switch to Dvorak (if you still type QWERTY). It's a bit pricy for a keyboard but if you suffer from RSI it will enable you to type again, and that's worth it. I have two of them!

[2017-03-02 05:18] sjakobi commented on #63
I probably won't get around to it in the next few weeks. If anyone's interested, please assign the issue to yourself.

[2017-03-02 07:25] NorfairKing opened #66 "Run the validity test suite on Travis."
Depends on #64.

[2017-03-02 07:29] NorfairKing commented on #18
+1

[2017-03-02 07:31] NorfairKing commented on #63
+1 would like to see these benchmarks.

[2017-03-02 07:33] NorfairKing commented on #41
Okido!

[2017-03-02 09:38] chrisdone commented on #41
I'm okay with that call too. We have an answer to the question, which we didn't have before.

[2017-03-02 13:13] mrkkrp opened #67 "Add the 'isRoot' predicate"
This should return `True` when given path is root (upper level) directory.

[2017-03-02 13:15] mrkkrp commented on #33
Closing in favor of #18. Should be resolved in version 0.6.0

[2017-03-02 13:15] #33 closed

[2017-03-02 13:31] mrkkrp commented on #67
Depends on #18.

[2017-03-02 17:19] sjakobi commented on #67
I'm surprised that I couldn't find an analogous function in either `filepath` or `directory`, indicating that maybe it isn't widely needed.

I'm not against adding it, but if it's added, I'd suggest adding it at some place where it doesn't distract from more useful functions.

[2017-03-02 22:20] sjakobi commented on #60
Looks like we're off to a good start! :+1:

[2017-03-02 22:20] #60 closed

[2017-03-03 01:14] joehillen commented on #67
I feel like the problems described in #18 and #33 can be caught by expressing the special case for `/` at the type level rather than throw a runtime exception. I think this could be done in a fairly backwards compatible way. Give me a chance to test out the idea before merging anything.

[2017-03-03 17:03] #46 closed

[2017-03-03 17:57] sjakobi commented on #39
The problem is that what is a valid path on unixy systems like "/home/chris" isn't a valid path on Windows. I think we'll just need to add a bunch of CPP to make a Windows variant of each test.

I have deactivated building the tests on AppVeyor in https://github.com/commercialhaskell/path/commit/160ac322316c1760fb4863068ff2b55e8f8d1bda for now.

[2017-03-03 18:22] sjakobi commented on #41
I like this resolution. :+1:

[2017-03-03 18:22] #41 closed

[2017-03-03 18:28] sjakobi commented on #53
I'd propose merging validity-path into path and moving genvalidity-path into this repo, provided that validity can promise to remain about as light-weight a dependency as it is now.

This way the semantics of validity-path and the path parsing functions can't diverge.

[2017-03-03 18:32] sjakobi commented on #48
Looks like a duplicate of #37.

[2017-03-03 18:32] #48 closed

[2017-03-03 19:23] sjakobi commented on #53
I now see that validity requires `base >= 4.8` which means that we'll have to add some CPP if we want to move the `Validity` instances into path.

I'm still in favor of having a single source of truth for what's a valid `Path` but I also want to avoid unnecessary complexity.

[2017-03-03 20:47] NorfairKing commented on #53
I think it can.
validity will definitely not get any more dependencies itself.

That's exactly what I was thinking.

There's nothing that inherently prevents validity from lowering it's base version bound, but I'd need to use some CPP around imports for 4.7 and lower and I haven't done that.

Completely agree.

[2017-03-04 14:21] sjakobi commented on #60
@chrisdone I just re-read the goals of this package and I don't really understand what the following sentence means. Can you elaborate what you meant by this?

[2017-03-04 14:34] sjakobi opened #69 "Don't depend on the filepath version to determine what's a valid Path"
This is just a rough idea and I'm not sure if it's any good. Thoughts and comments are very welcome!

As we use `System.FilePath.isValid` in the parsing functions, our semantics aren't uniquely determined by the `path` version but also depend on the installed version of `filepath`. I'd like `Path` to be a less leaky abstraction.

So I'm thinking about "inlining" the `System.FilePath.isValid` funct

[2017-03-04 14:42] sjakobi commented on #63
Once we have a better idea of the performance characteristics of path we could also consider switching to a different internal representation of filepaths. I'm thinking of `ByteString`, `Vector Char`, `Text` or maybe even foundation's `String`.

[2017-03-04 15:30] mrkkrp commented on #63
This may be a bad idea given that all the consumers of `Path`s are taking `FilePath` and we are building `Path` from `FilePath`s too, which are `String`s. Converting back and forth will be much solwer and nastier, IMO. I think Chris once already said the same thing to someone who proposed something like this.

[2017-03-04 16:12] NorfairKing commented on #63
Given that unix filepaths are just null-terminated byte arrays, converting to `bytestring` is probably not a bad idea, but only if `path-io` can avoid the intermediate `[Char]` too.

[2017-03-04 16:18] mrkkrp commented on #63
`path-io` wraps functions from other packages that work with `Strings`.

[2017-03-04 17:42] chrisdone commented on #60
I mean that you can't have a value foo/ or foo//. It's just foo/. Otherwise
we break equational reasoning or otherwise lead to normalization in
operations, whereas normalisation during creation leads to much simpler
operations, I think.

On 4 Mar 2017 14:21, "Simon Jakobi" <notifications@github.com> wrote:

[2017-03-04 17:42] chrisdone commented on #69
I'm in favor. Using file path was just to avoid work, but your version dep
argument makes sense.

On 4 Mar 2017 14:34, "Simon Jakobi" <notifications@github.com> wrote:

[2017-03-04 18:54] sjakobi opened #70 "Speed up the validity tests"
They take nearly two minutes to run on my (admittedly slow) machine.

Maybe they could be parallelized and/or the generation could be sped up.

[2017-03-04 21:23] sjakobi commented on #63
Let's see the performance data before making a decision.

[2017-03-04 21:29] sjakobi commented on #66
I think this should wait until #37 is fixed. Otherwise it adds too much noise.

[2017-03-05 02:55] sjakobi commented on #69
@mrkkrp, are you aware of any functions in path-io that will run into problems when used on a valid `Path` that happens not to be a valid `FilePath` in the sense of `System.FilePath.isValid`?

[2017-03-05 09:41] NorfairKing commented on #70
Aha! Looks like we should write our own `genValid` instances.
How do you propose generating only valid paths such that still every valid path can be generated with that generator?

[2017-03-05 10:08] mrkkrp commented on #69
No problems I know of.

[2017-03-05 12:38] sjakobi commented on #70
Good question, I don't know yet.

---

BTW the issue seems quite exacerbated on Windows, see https://github.com/commercialhaskell/path/pull/72#issuecomment-284224611. Might be easier to fix there though.

[2017-03-05 15:34] NorfairKing commented on #70
I think we want to decide on #53 first though.

[2017-03-05 20:55] sjakobi commented on #70
For more immediate benefits it's probably worth looking into http://hspec.github.io/parallel-spec-execution.html.

[2017-03-05 21:01] #66 closed

[2017-03-05 21:07] sjakobi opened #74 "Fix validity-test testsuite on Windows"
It appears that our `GenValid` instances need some optimizations to prevent the testsuite from timing out on AppVeyor.

It might be helpful to look at [System.FilePath.isValid](https://github.com/haskell/filepath/blob/master/System/FilePath/Internal.hs#L913) for some hints.

[2017-03-05 21:17] sjakobi commented on #70
To speed up the generation it might also be possible to use `System.FilePath.makeValid`.

[2017-03-05 23:31] NorfairKing commented on #70
Perhaps, but we have to make sure that all valid paths can still be generated.

In the docs for `isValid`:

[code]

The second and the fourth statements are contradictory...

If the fourth statement is true, we only have to look at what Path considers valid.

[2017-03-05 23:54] sjakobi commented on #70
From the  `makeValid` docs:

As long as all parsing functions use `System.FilePath.isValid` we should be fine. That will change with #69 of course, but we can take care of this at that point.

Maybe you're supposed to read them like a pattern match?!

[2017-03-06 11:56] sjakobi commented on #21
I kind of like this idea. How about calling the type `Name` instead of `Fn` though? IMHO `Path Name Dir` reads slightly more nicely than `Path Fn Dir`.

This addition would mean that we change the type of `filename` and `dirname`, right!?

@mrkkrp Would `path-io` provide a new variant of `listDir` that returns `Path Name x` instead of `Path Abs x` if this is added?

Intuitively I prefer the latter

[2017-03-06 12:20] chrisdone commented on #21
Agree on `Name`.

[2017-03-06 12:45] sjakobi commented on #21
On second thought, if we made a class (or type family like [`Path.IO.RelPath`](http://hackage.haskell.org/package/path-io-1.2.2/docs/Path-IO.html#t:RelPath)?!) we could just add a bit of return type polymorphism to `filename` and `basename` and existing code would continue to work.

Not sure if we want to introduce a type family in `path` though. It's kind of an advanced concept and I don't even r

[2017-03-06 12:56] NorfairKing commented on #21
+1 on the concept, no opinion on the implementation yet.

[2017-03-06 13:14] chrisdone commented on #21
I'd lean towards not adding a type class generally... @borsboom and I, both early users of the package, preferred to keep all types explicit.

[2017-03-06 13:54] mrkkrp commented on #21
OK, I'm going to be that guy who has unpopular opinion. I think we should keep number of path types minimal and it's best to stick to what we already have. The benefits of this new type are not obvious to me. If I wanted to treat file path without slashes differently, I'd create a special wrapper. It's not often I want to do it, and so I'd do it in actual application, not library.

Second, I'm str

[2017-03-06 13:59] chrisdone commented on #21
The content aside, I don't think it's too unpopular an opinion to keep things simple and conserve what we have.

Good points.

[2017-03-06 14:30] hasufell commented on #21
I don't use this library anymore, so I don't have a strong opinion. Just want to say that a __path__ (including a relative one) is a fundamentally different concept than a __filename__. It's not really a random use case to only allow filenames in certain functions. Those are basic guarantees.

[2017-03-06 15:02] sjakobi commented on #21
I don't really see how adding this would cause _huge_ breaking changes in `path` and `path-io`. I'm under the impression that this would cause mostly additions and require users to add a few `toRelPath`s here and there.

But I don't want to add anything that doesn't have any users so I'm leaning towards closing this now.

I also agree with this statement. In `Rel`, `Abs` and `Name`, one of them is

[2017-03-06 15:05] hasufell commented on #21
Because I forked this library, so I can move forward with my own preferences/use cases.

[2017-03-06 15:07] sjakobi commented on #21
http://hackage.haskell.org/package/hpath, interesting!

[2017-03-06 15:47] mrkkrp commented on #21
What I think is that we need to improve `path` and keep it in good shape to avoid fragmentation of community.

[2017-03-06 15:49] chrisdone commented on #21
I believe this is why `path` using `String` is cross-platform. `ByteString` for speed sounds like a good long-term goal, but it comes with correctness challenges.

[2017-03-06 16:18] hasufell commented on #21
No, ByteString is chosen because it's the only correct thing (or: the closest to correct until we maybe get the [AbstractFilePath](https://ghc.haskell.org/trac/ghc/wiki/Proposal/AbstractFilePath) proposal implemented in base... filepaths on unix are _bytes_, not strings). String is fundamentally wrong.
Ofc you can hack around encoding issues and so forth and then call it cross-platform. I don't th

[2017-03-06 16:47] chrisdone commented on #21
Eh, correct for whom? When the [system-filepath](http://hackage.haskell.org/package/system-filepath-0.4.13.4/docs/Filesystem-Path.html#t:FilePath) package (which like your package worked in terms of decoding/encoding ByteStrings) was in use and we were maintaining it and using it in stack, we had to deal with encoding issues all the time, and after GHC 7.4 dealt with encoding issues we [deprecated

[2017-03-06 17:34] NorfairKing commented on #21
+1, would like to see bytestrings under the hood for POSIX in `path`.

Though that's not the objective of this issue.

[2017-03-06 21:27] sjakobi commented on #59
Are there any potential downsides to this apart from the slight API increase? If not, please make a PR!

[2017-03-06 21:47] sjakobi commented on #63
[One idea](https://github.com/haskell/filepath/issues/58#issuecomment-284542835) for optimizing `System.FilePath.isValid` from ndmitchell:

[2017-03-06 22:34] sjakobi commented on #37
[Seems like](https://github.com/commercialhaskell/path/pull/73#issuecomment-284553256) #72 didn't fix this after all:

[code]

I'll try to increase the depth so we at least get consistent failures. We also really need some shrinking there.

[2017-03-06 22:56] sjakobi commented on #37
Hrm, `--qc-max-success 1000` still succeeds. Looks like we'll need to use that specific seed.

[2017-03-06 23:07] sjakobi commented on #37
@NorfairKing: Why is `$(mkRelDir "a../")` an invalid path? I'd think that `..` is only problematic when it's an entire path segment like in `a/../`?

[2017-03-06 23:11] NorfairKing commented on #37
It's not, but the documentation says that it is.

[2017-03-06 23:13] NorfairKing commented on #63
Yes, but it's opaque, so we could replace the stuff under the hood.

Maybe not yet, but this battle has to be faught at some point.

[2017-03-06 23:15] sjakobi commented on #37
Well it's invalid according to `Path.Gen.isValid`… I'll make a PR to fix that.

[2017-03-06 23:43] sjakobi opened #75 "Add shrinking to validity-test testsuite"
At https://github.com/commercialhaskell/path/commit/467906da26eaf850abf561c881e8043d2b64f139 I can produce a test failure with

    stack test :validity-test --test-arguments "--seed=173166278 --match Parsing"

It's hard to find the problem in the failing test case though:

[code]

(`Path.Gen.isValid` doesn't like the `..` in the path)

This should be easier if the relevant `Arbitrary` instances h

[2017-03-06 23:56] NorfairKing commented on #75
I don't think `genvalidity-hspec` uses shrinking because it doesn't require an `Arbitrary` instance.

[2017-03-06 23:57] NorfairKing commented on #37
How about we move the validity and genvalidity instances to the right place first?

[2017-03-06 23:57] sjakobi commented on #75
It's not based on QuickCheck?

[2017-03-07 00:02] sjakobi commented on #37
Please do that. Do you need any help with it? To me the priority is that the testsuites work and don't produce any false positives (or negatives?! IDK).

[2017-03-07 00:13] sjakobi commented on #37
Is my understanding correct that we are going to continue seeing these random failures until in all the `Validity` instances we essentially have `isValid p@(Path fp) = parse fp == Just p`?

So, what actually needs to be done is to make the parsing functions more strict or alternatively clarify the parsing/validity semantics?

[2017-03-07 00:15] NorfairKing commented on #75
It's based on hspec. I'm not sure how hspec does things under the hood. Would have to look into it.

[2017-03-07 00:17] NorfairKing commented on #37
Can't do it sooner than thursday. Moving between countries atm.

On your other question: I wouldn't make that claim.

[2017-03-07 00:25] sjakobi commented on #37
No worries, we aren't in a hurry!

Good luck with the moving! :+1:

[2017-03-07 02:18] sjakobi commented on #53
[With](https://github.com/commercialhaskell/path/issues/37) [all](https://github.com/commercialhaskell/path/issues/75) [these](https://github.com/commercialhaskell/path/issues/74) [issues](https://github.com/commercialhaskell/path/issues/70) [around](https://github.com/NorfairKing/validity/issues/4#issuecomment-284224756) the validity-test testsuite my opinion on this issue has shifted a bit. I fe

[2017-03-07 09:45] NorfairKing commented on #53
I don't see how the flaky tests in `path` have anything to do with immaturity of validity...
They have shown that no one really has an idea of what a valid path is, and that is a big deal in the `path` package.

The validity tests have brought to light a few bugs already, I don't think that should be dismissed too easily.

[2017-03-07 10:21] chrisdone commented on #59
Can you provide a citation or evidence that an expression quasiquote introduces different ordering behavior to an expression splice?

[2017-03-07 11:19] sjakobi commented on #53
You're probably right there. The more important cause for our current issues seems to be that we haven't tuned the validity setup sufficiently yet. Still, I think we should see whether we can get to a productive, low-maintenance setup before we merge `validity-path` and `genvalidity-path` into this repo.

[2017-03-07 11:42] sjakobi opened #77 "validity-test: Generate more "interesting" Paths"
One cause for the flaky behavior of validity-test as experienced e.g. in https://github.com/commercialhaskell/path/issues/37 seems to be that the generators don't produce enough "interesting" cases. Here's a sample:

[code]

To the naked eye it looks like none of these paths contains multiple directories and none of these contains a dot (`.`) or even `..`.

To remediate this, I'd suggest that the

[2017-03-07 11:44] chrisdone commented on #77
Quickcheck has the `frequency` combinator with which we could choose how often we pick . \ / vs random unicode.

[2017-03-07 16:09] 3noch commented on #59
@chrisdone

https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#ghc-flag--XQuasiQuotes

TH splices are not able to use declarations that are defined *below* them in the same file. This means that declarations involving TH must have a certain ordering in the file.

[2017-03-07 17:10] sjakobi commented on #74
After speeding up the path generation a bit I found some first test failures:

In https://ci.appveyor.com/project/chrisdone/path/build/1.0.101:

[code]

[2017-03-07 17:51] sjakobi commented on #37
Optimistically closing this again since https://github.com/commercialhaskell/path/pull/78 has been merged.

Failures in validity-test on Windows are tracked in https://github.com/commercialhaskell/path/issues/74.

[2017-03-07 17:51] #37 closed

[2017-03-07 19:35] NorfairKing commented on #53
Agreed.

[2017-03-07 20:35] #77 closed

[2017-03-07 20:41] sjakobi commented on #70
With #79 merged validity-test runs in ~1.2 seconds on my machine now. That's good enough for me.

On Windows there's still a lot of room for improvement though. In particular generation of valid root directories could certainly be much faster.

[2017-03-07 21:27] sjakobi commented on #74
To me it looks like the test failures above boil down to only a few basic problems:

1. Combining "\\" and "\\" results in an invalid path "\\\\" whose normalised version is "\\". That seems to cause failures 1-4 directly and failure 5 indirectly. This looks like a bug in our `</>`.

2. In failure 5 we inadvertedly construct an absolute directory instead of relative path to a file. That should be

[2017-03-07 21:39] sjakobi commented on #74
Oh BTW, is anyone of the maintainers here a Windows native who might have an easier time navigating these issues!?

I'm running Linux-only right now and while I can (amazingly!) use `System.FilePath.Windows` there, I can't easily reproduce the Windows behavior of `path`.

[2017-03-08 01:34] sjakobi opened #80 "Make validity-test compatible with GHC-7.10 and GHC-7.8"
This would be nice for checking backwards compatibility and should allow us to remove the `validity` flag which would in turn simplify our CI configs.

This is currently blocked by our dependency on validity which requires `base >= 4.8` and on genvalidity-hspec which [(implicitly) requires `base >= 4.9`](https://github.com/NorfairKing/validity/issues/4).

It looks like validity can easily be made

[2017-03-08 07:36] NorfairKing commented on #80
Maybe I could split off the parts of `genvalidity-hspec` that require TypeApplications and call the other part `genvalidity-property`. This would solve the problem in this package and further split concerns.
Any feedback?

[2017-03-08 15:54] sjakobi commented on #80
@NorfairKing Sounds goot to me! :+1:

[2017-03-08 16:39] #39 closed

[2017-03-08 17:57] sjakobi opened #81 "Resolve FIXMEs in test/Windows.hs"

[2017-03-08 18:13] sjakobi opened #82 "Create Path.Windows and Path.Posix modules like in filepath"
The module structure would look roughly like this:

* All the code is in Path.Internal and depends on two `isPosix` and `isWindows` constants for platform-specific stuff
* Path.Windows `#include`s Path.Internal, setting `isWindows` to `True` and `isPosix` to `False`
* Path.Posix `#include`s Path.Internal, setting `isWindows` to `False` and `isPosix` to `True`
* Path reexports Path.Windows or Path.

[2017-03-08 20:50] joehillen commented on #67
Nevermind, my idea wouldn't work without dependent types.

[2017-03-09 12:50] sjakobi commented on #82
Any comments or opinions before I give this a try?

[2017-03-09 12:50] sjakobi commented on #82
I think this should also help us resolve #74 and #81.

[2017-03-09 12:56] NorfairKing commented on #82
This sounds good to me!
You might want to use a datatype `data OS = Windows | Linux` to prevent messiness if we ever want to support more than these two OSes.
Could you do me a favor and check that GHC can compile-away any (constant) `if isWindows` expressions.

[2017-03-09 14:00] sjakobi commented on #82
Should be `Windows | Posix` but I think I'll do it just like filepath does it – before we can support any OS that is neither Posix nor Windows, `filepath` will have to be fixed too.

Seems to work:

[code]

[2017-03-09 15:46] NorfairKing commented on #82
Fair enough. Proceed :D

Perfect, Thanks for checking!

[2017-03-10 07:23] NorfairKing commented on #75
Aha, found it:
https://hackage.haskell.org/package/QuickCheck-2.9.2/docs/Test-QuickCheck-Property.html#v:forAllShrink

We just need to replace `forAll` with `forAllShrink shrink`

[2017-03-10 07:45] NorfairKing commented on #80
@sjakobi I had another look, and this isn't as simple as I made it sounds. Tearing up the API like this isn't a good idea, because the boundary that I was going to split on does not align with the TypeApplications-dependency-boundary.

However, I think the validity-tests don't need TypeApplications, so I'm going to have another look at making the validity-tests compatible with earlier GHC versions

[2017-03-10 10:00] chrisdone commented on #59
@3noch

I think that this concerns only declaration splices and declaration quasi-quotes, not expression splices and expression quasi-quotes. The following works:

[code]

I'm not against `QuasiQuoters` for this feature, but TH is a powerful feature and we should be clear on how it works.

[2017-03-10 14:46] sjakobi commented on #75
Nice! I'm wondering though if shrinking should be built into `genvalidity` so you don't have to take care of it manually. (I don't mind adding it manually first though!)

[2017-03-10 16:33] 3noch commented on #59
@chrisdone Great! Thanks for the clarification.

[2017-03-10 18:39] sjakobi opened #88 "Replace control characters by simple letters in the shrinking functions for validity-test"
(Inspired by [the file-path tests](https://github.com/haskell/filepath/blob/141cddb606fd6f6a60f730fed3d57502b93c14ae/tests/TestUtil.hs#L45))

[2017-03-10 18:53] NorfairKing commented on #75
That could work, but I'd need to add `shrinkValid` and `shrinkInvalid` and `shrinkUnchecked` to `GenValid`, `GenInvalid` and `GenUnchecked` respectively.

[2017-03-12 09:14] NorfairKing commented on #80
On third thought, I'm going to take another look at splitting those packages.

[2017-03-15 18:07] NorfairKing commented on #80
It looks like this is going to work. Give me a bit more time.

[2017-03-15 18:47] NorfairKing commented on #80
@sjakobi If you'll have a look at https://github.com/NorfairKing/validity/tree/development, I'm making travis configs for every stack lts version starting from lts-2, for the packages that can build with earlier versions. I also split `genvalidity-hspec` into `genvalidity-hspec` and `genvalidity-property` so that `genvalidity-property` doesn't need `TypeApplications`.
If I recall correctly, the `v

[2017-03-15 19:14] sjakobi commented on #80
@NorfairKing Looks promising!

[2017-03-17 15:50] NorfairKing commented on #80
I just released the new versions of the `validity` packages. Now it should be possible to resolve this issue by fixing this repo.

[2017-03-17 19:21] sjakobi commented on #59
Addressed in #83 and included in v0.5.13.

[2017-03-17 19:21] #59 closed

[2017-03-17 19:23] 3noch commented on #59
Thank you @sjakobi!

[2017-03-18 14:47] #80 closed

[2017-03-28 07:26] NorfairKing commented on #53
After some significant improvements to both validity and the maintainability of path, this discussion can be opened again. @sjakobi, what do you think?

[2017-03-29 10:08] sjakobi commented on #53
I currently think that we shouldn't move validity-path and genvalidity-path into this repo and probably should even move away from using validity etc ourselves.

* There just doesn't seem to be much demand for `Validity` and `GenValidity` instances: AFAIK path and your (@NorfairKing's) packages are the only users of validity etc at this point.

* Property tests that support shrinking are terribly

[2017-03-29 10:28] sjakobi commented on #69
I'm somewhat less enthusiastic about this idea now that I've seen how complex handling paths on Windows is.

In any case I'd recommend that we address #63 first and contribute optimizations back to filepath. This way we should be able to keep our FilePath-handling functions closer to their respective filepath versions and get additional sanity checking from Neil Mitchell.

[2017-03-29 10:30] NorfairKing commented on #53
That is sad. Anyone else have any opinion on this?

That is a sign of `genvalidity-property`'s age, but fair enough. I will most likely add this without changing the API.

There is a good reason not to use Arbitrary, it does not compose with data invariants if you want to use general functions like `producesValids`. Also `Arbitrary` does not behave well for nested lists. It's too easy to have it b

[2017-03-29 10:37] sjakobi commented on #53
I don't understand what you're trying to express. Can you elaborate?

I wasn't aware of this but don't see how GenValidity could avoid to run into the same problem. Both rely on the same `Gen` machinery.

[2017-03-29 10:56] NorfairKing commented on #53
The real value of the `validity` framework lies in the way you can use the higher-level `Property` and `Hspec` functions (ideally with `TypeApplications`).
Now, how would you write [`producesValidsOnValids :: (Show a, Show b, GenValid a, Validity b) => (a -> b) -> Property`](https://hackage.haskell.org/package/genvalidity-property-0.0.0.0/docs/Test-Validity-Functions-Validity.html#v:producesValids

[2017-03-29 11:34] sjakobi commented on #53
Well, we can't use TypeApplications because we want to support GHC 7.8. and 7.10.

Sure that's pretty elegant. It will be somewhat less elegant once we can't have a single `Validity` instance per `Path` variant anymore (#82).

GenUnchecked instances can be made with Generic, so you don't need to do that with genvalidity.

AFAICT we don't use our `GenUnchecked` instances at all but can't get rid of

[2017-03-29 14:22] sjakobi commented on #67
I overlooked [`System.FilePath.isDrive`](http://hackage.haskell.org/package/filepath-1.4.1.2/docs/System-FilePath-Posix.html#v:isDrive) there. Not sure if we should also call our function `isDrive` then. It seems to me that calling Windows drives like `C:\\` a root is more common than calling the Posix root `/` a drive.

[2017-03-29 15:29] sjakobi commented on #75
I overlooked that #84 did not add shrinking for all tests, in particular not for some of those that currently fail on Windows.

[2017-03-29 17:01] NorfairKing commented on #75
LGTM.

[2017-03-29 17:07] NorfairKing commented on #53
Ah, a typical case of backward compatibility harming current code.
It seems new compiler functions can't be used until they aren't new anymore, and that's sad, but fair enough. (`genvalidity-property` still works with GHC 7.8 though)

That's fair enough. As I said. I'd be happy with the monomorphic `isValidAbsDirOnPosix`, ... functions.

I do, however, think that the utilites for testing code that

[2017-03-29 19:10] sjakobi opened #91 "No incremental test output on AppVeyor"
It's pretty annoying that we can't get incremental test output for validity-test on AppVeyor. I've opened https://github.com/commercialhaskell/stack/issues/3097 to get help.

[2017-03-29 22:24] sjakobi opened #92 "Travis: Compilation error doesn't cause Cabal job to fail"
https://travis-ci.org/commercialhaskell/path/jobs/216489533

I haven't investigated yet.

[2017-03-29 22:32] sjakobi commented on #92
Here's the command we execute:

[code]

Looks like the piping shadows the non-zero exit status of the input commands

[code]

@mrkkrp Do you mind if I simply remove the Haddock coverage check or are you aware of a better solution?

[2017-03-29 22:39] NorfairKing commented on #92
Why ont use multiple commands below each other?

[2017-03-29 22:41] sjakobi commented on #92
Even then we wouldn't see a failure if the Haddocks were broken.

I guess we could do something like

[code]

[2017-03-29 22:55] NorfairKing commented on #92
That's true. You could try saving the output of `stack` haddock to a tmp file and check the exit code before you run check-coverage on that file

[2017-03-29 23:13] mrkkrp commented on #92
I'm not sure, I'm using this everywhere, works as expected.

Here is how:

https://github.com/mrkkrp/megaparsec/blob/master/.travis.yml#L34

If coverage is not 100%, I get failure, otherwise everything is green.

[2017-03-29 23:17] sjakobi commented on #92
I guess when the haddocks are malformatted the coverage output is missing which causes the subsequent commands to fail.

[2017-03-29 23:19] mrkkrp commented on #92
That's the desired behavior, no? I want to know about malformed Haddocks.

[2017-03-29 23:21] sjakobi commented on #92
Sure, the original error is silenced but the coverage check still causes the command to fail. That's ok as far as I am concerned.

[2017-03-29 23:22] mrkkrp commented on #92
So we need to separate the commands instead of chaining them with `&&` and the problem should be solved.

[2017-03-29 23:47] sjakobi commented on #75
I have started to work on this on [this branch](https://github.com/commercialhaskell/path/tree/75-shrink-all-the-tests) but some of the changes have made validity-test on Windows so slow that it times out on AppVeyor.

So it seems that we'll either have to do #82 first (which I currently regard as blocked by #90) or someone will have to look into this on a Windows machine. I'm not sure if I can do

[2017-03-29 23:50] sjakobi commented on #75
Hm, on second thought, maybe the timing out on AppVeyor isn't that bad. After all that test suite also triggers some failures Windows so we don't run it anyway. I'll try to make a PR and we can take care of the performance issues once #82 is done.

[2017-03-30 01:53] #92 closed

[2017-04-05 17:39] harendra-kumar opened #93 "Rename isParentOf to isPrefixOf"
As discussed in #90, `isParentOf` is a misnomer, leading to confusion at times. `isPrefixOf` conveys the meaning more clearly and effectively. We could rename the API and deprecate the old name.

[2017-04-05 17:42] NorfairKing commented on #93
`isPrefixOf` clashes with `Data.List.isPrefixOf`.
I prefer `isAncestorOf`.

[2017-04-05 17:56] harendra-kumar opened #94 "Introduce a polymorphic basename API"
We can use a polymorphic API to represent the basename of a dir or a file uniformly, simplifying the API and making it the same as POSIX, which is a bonus and helpful for people used to the POSIX APIs:

[code]

If we deprecate the old `filename` and `dirname` APIs, it will also remove the confusion caused by the difference in `dirname` semantics of the path package and POSIX.

[2017-04-05 18:00] harendra-kumar opened #95 "Allow parent to work on relative paths as well"
Once we merge #34, then parent automatically works properly on relative paths as well, we just need to change the signature to:

[code]

Semantics:

[code]

[2017-04-05 18:18] NorfairKing commented on #95
👍

[2017-04-05 18:19] NorfairKing commented on #94
I'm undecided on whether I like this, but this is a good place to discuss it.

[2017-04-05 18:36] harendra-kumar commented on #93
Yes, that's what I meant.

I did not realize the clash. `isAncestorOf` is fine then.

[2017-04-05 18:41] harendra-kumar commented on #94
Referencing the original discussion https://github.com/commercialhaskell/path/pull/90#issuecomment-291730229.

[2017-04-05 19:09] harendra-kumar commented on #94
@NorfairKing, as I thought more about it, I am sort of swaying towards your earlier stand on this. Since the type always expresses `File` or `Dir`, its okay to have `fileName` and `dirName` as separate APIs and the names are consistent with the types which I like. The only thing is conflict with POSIX but that is not a primary consideration, we get used to it and types anyway protect us. Symmetry

[2017-04-05 20:26] harendra-kumar commented on #94
On the other hand, what is the downside of having `basename`?

[2017-04-05 20:49] NorfairKing commented on #94
As I said:

* Error messages, now you'll get 'no instance of WhateverClassWeUseversusit is not a File`
* Ambiguities: Type classes can counteract type inference in some cases.
* Unnecessary complexity (in this case) because you mostly either deal with a file or a path, not both.

[2017-04-06 22:16] NorfairKing commented on #53
By the way, to allow for 'multiple' kinds of 'validity', there is always ['RelativeValidity`](http://hackage.haskell.org/package/validity-0.3.3.0/docs/Data-RelativeValidity.html)

[2017-04-08 15:30] sjakobi commented on #93
:+1: for `isAncestorOf`.

[2017-04-08 15:35] sjakobi commented on #95
And `parent "." = "."`? I don't see how this can be solved well.

[2017-04-08 15:49] NorfairKing commented on #95
That does follow the `parent "/" = "/"` convention...

[2017-04-08 18:17] harendra-kumar commented on #95
If we think of "." as RelRoot it is consistent.

Note that when we say `parent`  we mean the parent in the given path component and not the parent in the file system, we have no knowledge of the file system. We should not confuse the parent of "." the path with the parent of the current directory in the file system, that is the realm of path resolution to convert from relative paths to absolute. H

[2017-04-08 18:50] harendra-kumar commented on #95
BTW, POSIX `dirname` the equivalent of our `parent` API has the same behavior:

[code]

Though it sounds more intuitive with the API named `dirname` because it does not sound like we are resolving the parent of "." in the file system hierarchy.

[2017-04-18 16:50] NorfairKing commented on #95
Has there been any progress on this matter? Does anyone else have an opinion on the whole matter, not just this issue, but all the relevant ones. @sjakobi @harendra-kumar @chrisdone @mrkkrp @joehillen ...

[2017-04-19 01:53] harendra-kumar commented on #95
The first step is to understand, approve and merge #34. If that itself is not accepted then this issue is moot.

[2017-06-06 11:34] mrkkrp commented on #18
Hopefully fixed by #34.

[2017-06-06 11:34] #18 closed

[2017-06-06 14:09] hasufell commented on #18
Neat trick. Although `/` technically (by POSIX standard and filesystem technicalities) really has no _name_.

[2017-06-06 15:41] mrkkrp commented on #95
Now that #34 is merged, would you like to prepare a PR for this to be included in the version 0.6.0?

[2017-06-09 18:20] harendra-kumar opened #99 "Discuss: always prefixing relative paths with a "./" when showing"
If we consider "." as the relative root just like "/" is the absolute root then it sounds consistent to show the relative paths always starting with a "." e.g. "./x/y" instead of "x/y". That also explicitly tells us about the behavior of `parent` i.e. returning "." as the parent of "x".

[2017-06-09 18:27] joehillen commented on #99
:-1:

It makes it seem like `parent` would then be useless as it will always `.` instead of something useful.

[2017-06-09 18:45] harendra-kumar commented on #94
This does not give us much other than POSIX compatibility. Closing it.

[2017-06-09 18:45] #94 closed

[2017-06-09 18:50] harendra-kumar commented on #93
I am going with `isDirPrefixOf` and also renaming `stripDir` to `stripDirPrefix`. That makes both these API names consistent with each other and also conveys the meaning precisely without confusion in case of relative paths as well as absolute paths. Also since the name says prefix rather than parent making it clear that `isDirPrefixOf "/" "/"` and `isDirPrefixOf "." "."` return false.

[2017-06-09 19:14] NorfairKing commented on #99
@joehillen , I don't think `parent x/y/z` would return `.`, I think what @harendra-kumar meant is that it should return `x/y`. Is that right @harendra-kumar ? What would you think about that @joehillen ?

[2017-06-09 19:16] NorfairKing commented on #93
No. `a/b/c` is a prefix of `a/b/c` `"/"` is a prefix of `"/"`. If you want to use the word "prefix", then you need to use "strictPrefix".

[2017-06-09 19:26] joehillen commented on #99
@harendra-kumar Could you make a table of input, old output, new output? I'm not understanding what you're proposing.

[2017-06-09 19:54] harendra-kumar commented on #99
@NorfairKing that's right. Also, `parent "x"` returns `.`. BTW, I did not propose a change in the behavior of parent here, it is what it is already. The only thing I am proposing here is to change the behavior of the show instance of a relative path. Old behavior:

[code]

New behavior

[code]

That is, we show a relative path to always start with a `.`. It explicitly explains the behavior of `par

[2017-06-09 20:19] harendra-kumar commented on #93
`Proper prefix` is the correct technical jargon. `isProperPrefixOf` and `stripProperPrefix` are more accurate but make the names longer, might still work though.

To rethink the behavior of the APIs themselves, I am also not sure if `proper prefix` versions are the more useful APIs or we should instead have APIs with `prefix` behavior and name them so?

[2017-06-09 21:31] NorfairKing commented on #93
If you want to go for renaming (not implementing something else), then I suggest correctly naming the current semantics. I'm not sure which one would be more useful though.

[2017-06-10 10:09] harendra-kumar commented on #93
Ok, renamed to `proper prefix`. please take a look at the PR.

[2017-06-12 07:07] #93 closed

[2017-06-13 15:34] mrkkrp commented on #99
I don't think the current behavior of `parent` needs a more explicit "explanation". This change would make relative paths more verbose and likely a bit confusing. I mean, when we talk about a relative path `x/y`, we expect to see it as `x/y`, no? All in all, I think this one is overkill.

[2017-06-13 16:49] NorfairKing commented on #99
I'm actually not opposed. This might ensure that people don't ever use show and `++` to juggle paths.

[2017-06-13 21:11] harendra-kumar commented on #99
Yes, we have been trained like that. My trigger for this thought was to make relative paths exactly like absolute paths. The way absolute paths are always specified with a `/`, relative paths can be specified with a `.`. For absolute paths `/` is an absolute root, for relative paths `.` is the relative root.

[2017-06-14 09:19] #95 closed

[2017-06-14 22:54] joehillen commented on #99
I been quiet about most of the recent breaking changes even though I haven't felt positively about them, but I am strongly against this change:

1) It's unnecessary to add any extra distinction between absolute and relative paths because absolute paths start with `/` and anything else is relative.

2) Prefixing filepaths with `./` is almost never done in any Unix programming. It feels esoteric.

3

[2017-06-15 06:50] NorfairKing commented on #99
@joehillen, thank you for speaking up. I am not trying to argue _for_ the change, but for the record, I have some responses:

You need to use `./~` to remove a file called `~` without removing your home directory.

I don't think @harendra-kumar was suggesting changing the internals, just the `show` function.

Only in the same way that this is immoral: https://stackoverflow.com/questions/2669690/wh

[2017-06-15 07:44] joehillen commented on #99
That's only true in a shell. `~` has no special meaning outside of shells.

[2017-06-15 07:47] mrkkrp commented on #99
Since we do not seem to come to an unanimous conclusion on this one, I'll proceed with releasing master in its current form as 0.6.0 (later today or tomorrow).

[2017-06-15 08:09] NorfairKing commented on #99
Fair enough.

[2017-06-24 19:09] ChShersh opened #105 "Add `addExtension` analogue from `filepath`"
Sometimes `setExtension` (or `(-<.>)` operator) is not enough. Especially when working with Haskell-like files:

[code]

I propose to add `addExtension` function similar to [one from `filepath` library](http://hackage.haskell.org/package/filepath-1.4.1.2/docs/System-FilePath-Posix.html#v:addExtension) with corresponding `(<.>)` operator. It may have next signature similar to `setExtension`:

[code

[2017-06-25 07:22] mrkkrp commented on #105
I'm in favor.

[2017-06-25 07:55] NorfairKing commented on #105
Me too.

[2017-06-26 19:03] joehillen commented on #105
I'm in favour of this as well.

@ChShersh would you be willing your write a PR for this?

[2017-06-26 19:05] #99 closed

[2017-06-26 20:45] ChShersh commented on #105
@joehillen I don't mind implementing this addition as a PR. Will do this relatively soon.

[2017-07-01 05:47] #105 closed

[2017-08-02 16:17] varosi opened #107 "resolveDir is present in docs, but missing from the library"
In this documentation:
https://github.com/commercialhaskell/path

you'll find
[code]
but it's missing from the library.

[2017-08-02 16:28] mrkkrp commented on #107
It's here: https://www.stackage.org/haddock/nightly-2017-07-31/path-io-1.3.3/Path-IO.html#v:resolveDir

[2017-08-02 16:53] varosi commented on #107
Thanks a lot! I have just found it, but didn't know that it's in a separate package.

[2017-08-02 17:27] varosi opened #109 "resolveFile' is taking "C:\\" as wrong result on Windows"
[code]

C:\ is a correct absolute path to the root folder of C: drive under Windows.

[2017-08-02 17:30] varosi commented on #109
It's not a file, so resolveDir' is working fine. It's my fault!

[2017-08-02 17:30] #109 closed

[2017-08-30 10:21] ygale commented on #82
The importance of this issue is far beyond just running test suites.

Currently, the path library is not a general-purpose replacement for filepath, because it does not support the common use case where your program is running on one platform and you need to process file path data that you received from another platform.

We need that all the time. And here is a recent [post on the haskell-beginne

[2017-08-30 10:45] mrkkrp commented on #82
Hey @ygale, I agree that this is an important issue and we should publish a new version with per-OS modules and automatic detection a la `filepath`.

If @sjakobi is busy I could find time to prepare a PR in timely manner.

[2017-08-30 16:35] joehillen commented on #82
I'm having trouble imagining how that would work.

* Would there be different types for each platform, as in `data Path = WinPath | PosixPath`?
* How would serialization and deserialization work between the 2 platforms? What would be the intermediate representation?
* Is the problem that you can't parse and construct a Windows `Path` from a Posix `Path` and vice versa? How would that work with dri

[2017-08-30 20:51] sjakobi commented on #82
I'll try to get this done until next week, i.e. 2017-09-04.

@joehillen These are some good questions. I'd also expect users who want to manipulate e.g. Windows `Path`s on a POSIX platform to desire a few more amenities like newtype wrappers etc.

Regarding serialization: For starters it might be enough to export our `parseJSONWith` utility, in order to facilitate custom platform-specific `FromJSO

[2017-09-03 21:14] sjakobi commented on #82
I've got most of the changes to the library done on [this branch](https://github.com/commercialhaskell/path/tree/issue82) but still need to adjust the docs. I'll try to wrap that part up tomorrow.

Regarding the changes to the testsuites I don't really have a design worked out. I think I'll address those in a second PR, probably after a bit of discussion.

[2017-09-04 21:32] sjakobi opened #110 "Sharing Travis capacity with the rest of the commercialhaskell organization"
It's annoying that my Travis job is stuck waiting (apparently) for a stack job. I'm not sure if this can be fixed in any other way than moving this repo to a different (new) organization or account.

[2017-09-04 21:53] joehillen commented on #110
That doesn't seem necessary. This is a relatively stable project that doesn't get or need much activity.

[2017-11-20 18:31] varosi opened #112 "Tree types of paths - relative, absolute and canonical"
What about the idea to have tree types of paths - **relative**, **absolute** and **canonical**? **Canonical** could be used for paths equality and **absolute** to be used for actual directory/file operations. **Absolute** paths will be relative to root (Linux) or drive (Windows) and will not follow symbolic links (Linux), directory junctions and substitutions (Windows).

Related discussion and exp

[2017-11-20 18:36] joehillen commented on #112
This sounds like an idea to test out in a new library. The path library is not large or difficult, so it would not be hard to replicate its functionality in a new package.

[2018-01-17 15:28] varosi commented on #112
Yes, it's not difficult. But it will be yet another path library and the idea is this to be used in Stack tool. Currently there is a great issue under Windows about it. And this library will be even more precise and correct.

[2018-01-18 19:14] joehillen commented on #112
Feel free to open a PR.

[2018-01-18 19:19] joehillen commented on #112
This sounds like it would require a complete rewrite of the library and its consumers, which I don't think we'd be open to. That's why I think it's an idea worth exploring in another package. stack could use your package instead if that suits them.

If you don't think this will require any major breaking changes, feel free to open a PR.

[2018-01-18 19:19] #112 closed

[2018-01-18 19:36] #107 closed

[2018-01-18 19:37] joehillen commented on #82
Resolved via #111

[2018-01-18 19:37] #82 closed

[2018-03-15 23:37] bergus opened #117 "Readme"
Hi,
I just came across this package and found some minor issues in the readme:

* In [#Parsers](https://github.com/commercialhaskell/path/blob/master/README.md#parsers), there's an unfinished sentence "*The instances*".
* In the [comparison with `pathtype`](https://github.com/commercialhaskell/path/blob/master/README.md#pathtype), I tripped over "*we come to a path library that path is similar to*

[2018-04-23 14:38] harendra-kumar opened #121 "Expose splitExtension API"
#115 introduced the `splitExtension` API but that PR did not expose it. We need to decide what the signature should be. One point that I was thinking about `splitExtension` and `fileExtension` APIs is whether they should throw instead of returning an empty string when there is no extension present.

The annoying thing is that we do not accept an empty string as a valid extension when setting an ex

[2018-07-30 14:37] rkoeninger commented on #74
@sjakobi  As the rare Windows Haskell user, I can take a look at this.

[2018-07-30 14:42] rkoeninger commented on #81
@sjakobi I can take a look at this, too.

[2018-07-30 16:58] sjakobi commented on #74
@rkoeninger: Thanks, please do! :+1:

[2018-07-30 16:59] sjakobi commented on #81
@rkoeninger: That would be very welcome! :)

[2018-08-02 21:47] sjakobi opened #126 "Run both the Posix and the Windows testsuites on all platforms"
This is left over from #82.

[2018-08-02 22:00] sjakobi opened #127 "Reduce normalization overhead by requiring filepath >= 1.4"
The latest fixes to `System.FilePath.normalise` were in `filepath-1.4.0.0` which was bundled with GHC-7.10. I suspect that we could kill quite a bit of the normalization overhead if we could rely on `filepath >= 1.4` and delete some of our normalization code.

[2018-08-03 01:08] #81 closed

[2018-08-03 04:14] sjakobi commented on #121
Looks like this was resolved in #122.

[2018-08-03 04:14] #121 closed

[2018-08-09 03:33] sjakobi opened #129 "Parsing of current directory path (".") is still platform-dependent"
Here's a demonstration on Linux:

[code]

The root cause of the problem is that our definition of `relRootFP` uses the platform-dependent `System.FilePath.pathSeparator`:

https://github.com/commercialhaskell/path/blob/8f9354d32b80f669cfa0a76e6522be1e3e21c638/src/Path/Internal.hs#L56-L58

A fix should probably move `relRootFP` into `Path.Include`.

[2018-09-25 17:27] rkoeninger opened #133 "Export `valid*` functions"
While working on #74 (PR #128), I saw that there are instances for `Validity` that duplicate some logic in unexported functions in Include.hs:

https://github.com/commercialhaskell/path/blob/d4e16f96bebb06ae1f3e645aaeabc550bd290515/test/Path/Gen.hs#L21-L27

https://github.com/commercialhaskell/path/blob/d4e16f96bebb06ae1f3e645aaeabc550bd290515/src/Path/Include.hs#L643-L648

Should there be exporte

[2018-09-26 17:05] sjakobi commented on #133
I'd appreciate the addition of `valid{Abs,Rel}{File,Dir}`!

[2018-09-26 18:53] rkoeninger commented on #133
I'll start a PR, and if merged, I'll use the `valid*` functions in my other PR to fix the validity tests.

[2018-09-26 18:54] rkoeninger commented on #133
@sjakobi Should there be 4 functions, one for each combo of `Abs|Rel`, `Dir|File`, or should there be 4 instances of an `isValid` function using typeclasses?

[2018-09-26 22:45] sjakobi commented on #133
Great! :)

I think having 4 separate functions has more precedents with the `parse*`, `from*` and `abs*` functions.

A typeclass approach would likely require some discussion among the maintainers – something which I'm not too keen on…

[2018-09-27 07:02] NorfairKing commented on #133
I completely agree with this sentiment, but instead of creating four new functions, we can just move these instances to the library, and we'd be done!

[2018-09-29 06:49] rkoeninger commented on #133
There's another issue with creating general `Validity` instances - what exactly are the criteria for validity?

On my working branch, I have 2 groups of functions:

  * `isValid*` that check if a path will be successfully parsed by the `parse*` functions (e.g. directory paths don't require trailing slashes)
  * `isNormalized*` that match the `Validity` instances in the test suite (e.g. directory p

[2018-09-30 19:16] sjakobi commented on #133
IMHO it should simply be

[code]

[2018-09-30 19:33] NorfairKing commented on #133
This is not a trivial thing though.
There is a semantic difference between parsing something with a valid result, and checking if the result is valid.

That is, unless you use something like `constructValid . Path`.

[2018-10-01 15:47] rkoeninger commented on #133
@sjakobi  @NorfairKing  Added PR for what i have so far: #134

[2018-10-10 22:52] brandon-leapyear opened #135 "Thoughts on adding an IsString instance for Path"
In lieu of using quasiquoters (which are a little hard to read because my syntax highlighting doesn't cover quasiquotes), it would be great if we could add IsString instances for Path. What I currently have in my code base is:

[code]

Most of the time, the type is inferred fine

[code]

And in cases where it's not, you still have the ability to use quasiquoters. Are there any downsides to this?

[2018-10-10 23:35] NorfairKing commented on #135
https://github.com/commercialhaskell/path#overloaded-strings

[2018-10-10 23:51] brandon-leapyear commented on #135
ah I do remember seeing that a while ago. Cool.

[2018-10-10 23:51] #135 closed

[2018-10-18 09:30] 2mol opened #136 "aeson dependency"
Hi everybody! First of all, this library is really great, and I very much enjoy using it.

I wanted to discuss the dependency on aeson. As far as I can see, the only weight it's pulling, is a `toJSON` instance in `Path.Internal`. Since aeson itself has a pretty massive dependency graph, that's a lot of dependency for not a whole lot of feature. I mean, aeson is super nice, but I don't use it in ev

[2018-10-18 10:10] NorfairKing commented on #136
@2mol There are a few options:

- The current situation: `path` with an `aeson` dependency
- Make `aeson` depend on `path` and give it a non-orphan instance. (I would be happy with this, but not sure if you'll be able to convince the `aeson` maintainers. You'll have to open an issue there and refer back if you want to try this.)
- Make two seperate packages: `path` and `path-aeson` where the latte

[2018-10-19 09:56] 2mol commented on #136
Yeah, I looked at how many transitive dependencies `aeson` would gain by depending on `path`, and the direct ones are just two: `filepath` and `exceptions`. Zero would have been nicer, but I asked people if they would be open to take that tradeoff: https://github.com/bos/aeson/issues/677

[2018-10-22 02:26] clinty opened #137 "newer genvalidity/genvalidity-property/validity"
Please update for the API changes beginning with validity 0.4.0.0

[2018-12-19 05:23] mrkkrp opened #138 "A possible bug in stripProperPrefix"
Should it actually return `"."` when the prefix matches actual directory that we're stripping? It seems to me that in that case returning `"."` is the correct behavior because obviously any valid path is a proper prefix of itself. Am I missing something?

Related to mrkkrp/path-io#39

[2018-12-19 10:01] harendra-kumar commented on #138
A path is not a "proper" prefix of itself, proper here means that the prefix cannot be the same as the original name. For directory paths we can try to argue that "x" is implicitly equivalent to "x/.", therefore we can return "." here. But we should note that (1) it is not true for file paths, so we will need to differentiate between file and dir, in the file case we still have to throw an excepti

[2019-01-22 10:47] andrewufrank opened #139 "add a Read instance"
I like and use `Path` a lot but observe a problem for regression testing. In a regression test for some complex functionality I use input of complex data types which are produced by `Show` of a results of a function and `Read` these results  to produce input for another function. `Path` not having a `Read` instance kills this approch often.
The result type of `Read` is known and the value was prod

[2019-01-29 09:51] googleson78 opened #141 "MonadFail as parse results"
I think it would be very useful to have parse functions that return `MonadFail` instead of `MonadCatch`. Is there any chance of getting this in?

Most parsers have an `Either String a` interface, and other libraries (for example `optparse-applicative`) take advantage of this.

[2019-01-29 11:09] NorfairKing commented on #141
You can use `left show` to turn `MonadCatch m => m a` into `Either String a`.

[2019-01-31 08:57] #141 closed

[2019-02-05 13:09] NorfairKing commented on #139
I don't see any obvious problems with adding a `Read` instance, but this:

sounds like a _really_ bad idea.
I'm interested to hear what the other maintainers think.

[2019-02-22 11:44] andrewufrank commented on #139
could you expand why you think this is a bad idea and what you would propose to improve regression testing for single, complex and IO using functions. Appreciate suggestions a lot!

[2019-02-22 11:57] NorfairKing commented on #139
Absolutely, but it's independent of this PR. Send me an email and let's talk about it.

[2019-08-07 13:26] mrkkrp opened #142 "Cut a release"
Last release was in 2017, come on. There are lots of changes, such as `Lift` instance I needed just today.

[2019-08-07 13:29] mrkkrp commented on #142
Also I propose to cut support for all GHC versions but 3 most recent ones.

[2019-08-10 14:36] mrkkrp commented on #142
@NorfairKing Could you update the `stack.yaml` file to use one of the newer resolvers and update `genvalidity` dependencies? I attempted that myself, but there are compilation errors.

[2019-08-10 16:42] NorfairKing commented on #142
[code]

[2019-08-10 16:52] NorfairKing commented on #142
@mrkkrp I just pushed to `upgrade-deps`.
By upgrading the dependencies, I found these bugs:

[code]

[2019-08-10 18:01] mrkkrp commented on #142
Interesting. Now someone probably should fix them.

[2019-08-13 14:16] NorfairKing commented on #142
I'm not sure who to ping about this
I need someone else to verify the validity constraints that I've written.

[2019-08-13 14:45] mrkkrp commented on #142
I don't have much time to spend on this, but eventually I'll get to this if no one else can.

[2019-08-22 10:21] NorfairKing opened #144 "FromJSONKey and ToJSONKey instances for paths"
This would allow serialization of `Map (Path r d) Value`.

[2019-08-24 10:03] NorfairKing commented on #142
It seems that the stack build is also broken on master.

[2019-08-24 11:07] mrkkrp commented on #142
I’m on vacations. If you fix the build we can release though.

[2019-08-28 22:42] NorfairKing commented on #142
@mrkkrp It seems that the failures were false positives. I think I managed to fix them correctly.

[2019-08-29 07:12] mrkkrp commented on #142
I’ll take a look in the evening.

[2019-09-22 11:22] #144 closed

[2019-09-23 12:38] chrisdone commented on #136
If it helps to add some direction to this discussion, I think we should avoid conditional compilation where possible. A package is easiest to understand, test and tool when it is just a package, and not N packages depending on configuration.

I can understand not wanting to depend on `aeson` for some smaller tools. So that leaves only a `path-aeson` instances package.

**How this affects library u

[2019-09-23 13:10] chshersh commented on #136
@chrisdone Thanks for your feedback on this problem! I want to add from my side that things improved a bit since then. Now there's an even better solution than a separate library. Since cabal-3.0 you can use _Multiple Public Libraries_ features to have many independent libraries inside single package. The only example and tutorial of this feature I'm aware of can be found here:

* https://kowainik

[2019-09-26 12:12] #139 closed

[2019-09-27 08:41] NorfairKing opened #148 "Characters like the UTF16 surrogate codepoints should not be allowed in paths."

[2019-11-24 04:58] srid opened #149 "MonadThrow vs MonadError"
The problem with using `MonadThrow` is that the caller can theoretically expect just about any exceptions to be thrown. Whereas with `MonadError e`, the now-small range of errors that the caller can expect to handle is known at the type level (and, not to mention, in the function documentation).

Would you be open to a PR changing all the functions that currently use `MonadThrow m` to using `Monad

[2019-11-24 10:00] NorfairKing commented on #149
cc @chrisdone

[2019-11-24 10:22] chrisdone commented on #149
@srid Have you tried to define and use such an instance?

[2019-11-24 15:37] srid commented on #149
@chrisdone If I understand you correctly, you are asking how I would use the functions of the path API running in a monad with the `MonadError PathError` constraint?

To give an example I have code in my project that already uses `MonadError AppError`. From there I'd simply use `withExcept` to convert `PathError` to my custom `AppError`:

[code]

But with MonadThrow I'm forced to handle the except

[2019-11-24 23:03] chrisdone commented on #149
@srid No, I'm asking whether you have tried to implement and use your proposed instance, `MonadError PathError m`.

[2019-11-25 00:50] srid commented on #149
Still not 100% sure what you are asking, I'm afraid. But see further below for a sample of the change I'd make in the aforementioned PR.

Assuming `PathException` will eventually be be renamed to `PathError`, user code would invoke this function as follows:

[code]

Personally, if I'm consuming the PathError in a larger error data type, I'd do this:

[code]

In both the scenarios the `Either` inst

[2019-11-25 09:34] chrisdone commented on #149
@srid Path is used in a bunch of codebases (including stack) in a `IO` or `Maybe` or `Either` context, as the `m` in `MonadThrow m` is overloaded.

Having all functions return `Either` would be a significantly breaking change to impose on end-users, and would sacrifice the convenience mentioned in the previous paragraph.

Using `MonadError` would not permit the continued functioning of such end-us

[2019-11-25 18:00] srid commented on #149
Thanks; I hadn't thought of the impact of fundeps in detail here.

The original proposal was not API backwards compatible in any case. I figured that existing users could migrate their code in the following manner to get back the original behaviour (using `Either e` instance for `MonadError`):

[code]

As in: `oldFunc = either throwM pure . newFunc`

---

It seems to me that functions like `stripP

[2019-11-26 16:30] chrisdone commented on #149
Cool, then I'm in favor of a PR to _add_ functions with a `MonadError` constraint. :ok_hand:

[2019-12-28 12:21] NorfairKing commented on #142
@mrkkrp Is there anything else you need?

[2019-12-28 12:55] mrkkrp commented on #142
No, but am I needed at all to cut a release? In any case, I can do it later today, or you can do it yourself.

[2019-12-28 13:08] NorfairKing commented on #142
I don't know if I am able to, permissions wise. Feel free to go ahead. I think the code is ready for release.

[2019-12-29 12:32] mrkkrp commented on #142
Tagged and released 0.7.0 on Hackage.

[2019-12-29 12:32] #142 closed

[2020-01-08 18:56] #137 closed

[2020-01-16 13:12] Martinsos opened #151 "Idea/suggestion: Path aliases"
Hi, thanks for this great library! I was just starting to write my own solution when I realized this exists.

One thing I noticed is that when I want to specify the type of Path in my code, I have following options:
1. `import Path` and then `myPath :: Path Rel File`.
2. `import qualified Path as P` and then `myPath :: P.Path P.Rel P.File`
3. `import Path (Path, Rel, Abs, File, Dir)` and then `myP

[2020-03-27 17:56] googleson78 opened #153 "Inconsistent "canonicalisation" on Linux vs Windows"
On linux:
[code]

The `\\` in the second case **is not** converted to a `/`.

On windows (in cmd):
[code]

The `/` in the first case **is** converted to a `\`.

[2020-04-30 08:47] andrewufrank opened #155 "how to remove an extension? add removeExtension function"
I need to construct a filename without extension from a file with an extension. In the past I have used `setFileExtension` which is depreciated.

Using `setExtension` with an extension "" does not work (check on valid extension fails).  Neither does `replaceExtension`.

I would suggest to add a removeExtension function.

Thank you for a very well crafted package!

[2020-04-30 09:17] NorfairKing commented on #155
+1 from me!
I think this problem got introduced when `setExtension` was changed.
@andrewufrank Do you want to make a PR?

[2020-04-30 09:34] andrewufrank opened #156 "addExtension fails for double extension like ".triples.gzip""
For files with a "doubled extension", typically names like "xx.triples.gzip" the addExtension fails. I assume that the double extension is not considered a valid extension. It seems that they are common. Should they be valid for the Path package?

[2020-04-30 10:01] NorfairKing commented on #156
It looks like you can use `addExtension` twice. Nevertheless, I consider this a bit of a mistake because of extensions like `.tar.gz`.

[2020-05-11 12:58] andrewufrank commented on #156
I used the conversion to `filepath` and back. Not elegant, using the `addExtension` twice is a bit better, but not really much. I wonder why there is no `Extension` type (with a constructor), which could then accept `.tar.gz `?

[2020-05-11 13:00] andrewufrank commented on #155
I had the same impression - it appeared when I got back to work on code after a long absence. I have no problem, if you do the PR, having more experience with such things. Thank you!

[2020-05-13 15:29] locallycompact opened #158 "Binary instance"
Hi, I'm trying to use Path in Shake oracle rules but shake expects a Binary instance for its Rule type. Has the binary instance been left out on purpose or can this be added?

[2020-05-13 15:48] NorfairKing commented on #158
It's been left out so that there doesn't need to be a dependency on any particular serialisation library.
Which `Binary` are you talking about?

[2020-05-13 17:12] locallycompact commented on #158
The one in this. https://hackage.haskell.org/package/shake-0.18.5/docs/Development-Shake-Classes.html

[2020-05-13 19:30] NorfairKing commented on #158
It's not, but I once made the same assumption. Don't worry about it.
Feel free to close this issue if you think we're done here.

[2020-05-14 05:18] #158 closed

[2020-05-15 19:12] mmhat opened #159 "QuasiQuoters and TH smart constructors are broken"
Since the addition of `Lift` instances (commit [68314ea70b670f156975049505015ac94dd66557](https://github.com/commercialhaskell/path/commit/68314ea70b670f156975049505015ac94dd66557)) the following is possible:

    foo :: Path Abs Dir
    foo = [relfile|foo|]

Since the quasi quotes use the `mk{Abs,Rel}{Dir,File}` functions under the hood it applies to them, too.

This is IMHO clearly a bug.

[2020-05-15 21:37] NorfairKing commented on #159
I don't understand why this happens, _at all_. Could you explain that a bit more?

[2020-05-15 22:43] mmhat commented on #159
Before the commit I mentioned above `[relfile|foo|]` (or `$(mkRelFile "foo")`) spliced in `Path "foo" :: Path Rel File`. Now look at [this](https://github.com/commercialhaskell/path/commit/68314ea70b670f156975049505015ac94dd66557#diff-c8363c22356817d95126a6ad70c6ec80L574) line of the commit: The author removed the previous implementation and delegated the hard work to the `Lift` instance [here](ht

[2020-05-15 23:33] mmhat commented on #159
@NorfairKing If you want to comprehend the issue yourself do the following:

1. Checkout the sources of path-0.6.1
2. In GHCi set the `-ddump-splices` option in order to see the code generated by the TH stuff.
3. Run the example above.

Now do the same with path-0.7.0. Note the differences.
Now do the same with the sources of my pull request. It should look like the one of path-0.6.1.

[2020-05-15 23:35] NorfairKing commented on #159
I'm impressed with your digging, but I don't understand why this doesn't work:
https://github.com/commercialhaskell/path/commit/68314ea70b670f156975049505015ac94dd66557#diff-c8363c22356817d95126a6ad70c6ec80L570-R559
The parsing and `error`ing still happens right?

[2020-05-15 23:40] NorfairKing commented on #159
Oh I think I understand the ambiguities that you talked about.
The parsing still happens at compile time (so I don't see how your example would still compile?) but the generated code has no type annotation.
Do I understand this right?

[2020-05-15 23:44] mmhat commented on #159
Yes, that's it!

[2020-05-15 23:46] NorfairKing commented on #159
OOOOH now I get it!
The parsing still happens correctly but you can assign it to the wrong type.
This is terrifying.

[2020-05-15 23:47] #159 closed

[2020-05-19 05:58] juhp opened #161 "path-0.7.1 breaks a couple of stackages"
I noticed while working on latest Stackage Nightly that path-0.7.1 breaks building

- [ ] life-sync-1.1.0.0 (@chshersh @vrom911)
- [ ] hapistrano-0.4.0.1 (@stackbuilders)

Maybe it is an intentional change?
Anyway let me put a temporary Stackage upper-bound on path for now.

[code]

[code]

[2020-05-19 08:45] NorfairKing commented on #161
Yes. It looks like this code that got broken wasn't buggy, but it just didn't have enough imports.
The change was certainly intentional.

[2020-05-19 08:45] vrom911 commented on #161
`path-0.7.0` is working perfectly fine with `life-sync`. However, `path-0.7.1` fails with the error you mentioned. Which is weird as upgrading the minor bound should not lead to the breaking change, unless the `path` was released with the broken version.
CHANGELOG doesn't help here as well. It doesn't mention any breaking changes. Could you please elaborate more on what is the migration guide for

[2020-05-21 11:19] NorfairKing commented on #161
We marked `0.7.1` as non-preferred and released `0.8.0` instead.

[2020-05-21 11:19] #161 closed

[2020-05-21 11:40] chshersh commented on #161
@NorfairKing Thanks for releasing a major update! But the migration guide is still not clear from the changelog. Do you know, what needs to be done to make the code work with the new version?

[2020-05-21 11:45] NorfairKing commented on #161
@chshersh You're right.
You need to make sure you have `Path` `Abs` `File` in scope if you use `[absfile|/something|]` because it will generate the equivalent of `Path something :: Path Abs File`.

[2020-05-22 21:33] sellout commented on #149
I came here to ask about this as well. @srid, have you done any work toward implementing this? If not, I might.

[2020-05-22 21:39] sellout commented on #149
My first thought is to have Path/Include.hs define everything with MonadError, have a new module, `Path.Except` that looks like what `Path` currently looks like (just import the correct platform module), and then have `Path` import `Path.Except`, reexporting or wrapping in `throwM` as appropriate.

[2020-05-22 21:46] srid commented on #149
Feel free to take this up.

[2020-05-22 21:50] sellout commented on #149
Oh, alternatively, add parameters to Include.hs for the monad class and the throw method. Then everything is defined directly, and there's no work to keep documentation, etc. in sync.

[2020-09-17 19:45] Martinsos opened #165 "Using Path.Posix on Windows"
Hi, thanks for this awesome library! We are using it extensively in our project and it made a great difference. However, recently we figured out that, besides Path reexporting Path.Posix or Path.Windows based on the OS it is running on, we actually also need to work exclusively with Posix paths, independent of OS we are running on. So we need both: at some parts of the app we need system-specific

[2020-09-17 20:28] Martinsos commented on #165
I am silly, I was using path 0.6 -> I now updated path and I can of course import Path.Posix. Closing the issue!

[2020-09-17 20:28] #165 closed

[2020-10-01 19:16] Martinsos commented on #151
Closing this once -> as codebase evolved, I actually found that rarely there is a conflict with other types, so I don't think this brings a lot of value any more.

[2020-10-01 19:16] #151 closed

[2020-10-07 22:41] Martinsos commented on #153
@googleson78 , I am not contributor to Path but I have been dealing with it a lot recently, and I believe this is not a bug but a way how Path behaves.
From the docs, what I got is that parseRelFile will parse the path using Posix separator (/) as a separator and whatever is current system separator. Resulting string will have separators as used by the system.

On Linux, system is Posix, so it wil

[2020-10-07 22:52] Martinsos opened #166 "Concatenation of "." paths possibly does not work as expected"
I wanted to use Path.Windows to work with Windows paths no matter on which platform are we executing, and I also needed the same thing for Posix (Path.Posix). However, I got some unexpected (at least in my view) behaviour when using Path.Windows on Linux or Path.Posix on Windows.
Below are the tests with behaviour that I expected, and also error messages describing actual behaviour.

[code]

On Li

[2020-10-07 23:00] Martinsos commented on #166
One more possibly unexpected behaviour:

[code]
does not fail when running on Linux (it does fail on Windows), although it has .. at the beginning and it should fail.

[2020-10-08 06:29] googleson78 commented on #153
Good point, I must have forgotten posix doesn't allow `\` as a separator back then!

[2020-10-08 06:29] #153 closed

[2020-10-08 07:21] NorfairKing commented on #166
@Martinsos These are probably related to the failing validity-based tests. cc @mrkkrp . It would be great if we could decide on the correct behaviour here, and add these tests, before we start fixing anything.

[2020-10-08 07:31] NorfairKing commented on #166
I'm a bit more confused now, after looking at the tests:

https://github.com/commercialhaskell/path/blob/master/test/Posix.hs#L166-L167

The first test that you describe is right there, and it passes for posix. Am I missing something?

[2020-10-08 08:38] Martinsos commented on #166
@NorfairKing notice that I am using functions from Path.Windows, so while test that you linked to is `($(mkRelDir "./") </> $(mkRelDir ".") == $(mkRelDir "."))`, the test that should be equivalent to one that I have failing is `($(Path.Windows.mkRelDir "./") Path.Windows.</> $(Path.Windows.mkRelDir ".") == $(Path.Windows.mkRelDir "."))`.

To provide more hard data, here are these tests failing on

[2020-10-08 13:10] NorfairKing commented on #166
@Martinsos Ah I see what you mean now. Thanks for clarifying!

That's exactly the right question.

If it were up to me I'd say: YES, OBVIOUSLY.
I'm not sure how much responsibility I'm allowed to take here. I'm just one of the maintainers.

Let's ping @mrkkrp , @sjakobi and @harendra-kumar  and see what they have to say. I have some time this month to work on `path` and see if I can't get it clean

[2020-10-15 11:50] sjakobi commented on #166
@NorfairKing, Could you expand on why these modules should display platform-dependent behaviour? IMHO the entire point of having these modules was so paths could be manipulated independently of the current platform.

Here's a bit of insight regarding the different parsing of `.` on Linux:

[code]

Apparently `PW.normalizeDir` fails to properly normalize the "relative root path":

https://github.co

[2020-10-15 12:20] NorfairKing commented on #166
I misread the question. I think these modules should _NOT_ display platform-dependent behaviour.

[2020-10-15 15:06] Martinsos commented on #166
@sjakobi great, sounds like that could be it!

Keep in mind there is one more possible unexpected behaviour, I described it in this comment above: https://github.com/commercialhaskell/path/issues/166#issuecomment-705237039 .

If you wish, I could try to find some time and write a PR for it (soonest this weekend), since you pretty clearly showed what the problem might be. Although I never contribut

[2020-10-15 15:08] NorfairKing commented on #166
@Martinsos Sounds good, please ping me if you need any help.

[2020-10-18 19:49] Martinsos commented on #166
@NorfairKing @sjakobi here is PR #167 !

[2020-12-01 08:53] NorfairKing opened #169 "Hidden files"
I find myself rewriting functions like these a lot:

[code]

Would it be valuable to put them into the `path` library?

[2021-02-18 09:11] Martinsos commented on #166
Fixed with #167

[2021-02-18 09:11] #166 closed

[2021-02-18 09:12] Martinsos commented on #129
I believe this is fixed with #163?

[2021-02-18 10:01] sjakobi commented on #129
I don't see any library changes in #163. Did you mean a different PR?

[2021-02-18 10:44] Martinsos commented on #129
Sorry, my mistake! #167 it is.

[2021-02-18 12:38] sjakobi commented on #129
Neat! Thanks a lot for the fix, @Martinsos! :)

[2021-02-18 12:38] #129 closed

[2021-02-25 17:53] NorfairKing opened #171 "Make it possible to run validity-based tests for windows on linux"
Ref #163

[2021-02-25 17:54] NorfairKing opened #172 "Bug: `</>` does not pass validity tests on windows"
Depends on #171, because I don't have any windows machines.
Found in https://github.com/commercialhaskell/path/pull/163#issuecomment-782851997

[2021-02-25 17:54] NorfairKing opened #173 "Bug: "\\\\foo" is a drive on windows"
Depends on #171, because I don't have any windows machines.
Found in https://github.com/commercialhaskell/path/pull/163#issuecomment-782851997

[2021-02-26 17:18] sjakobi opened #174 "Build failure with GHC 9.0.1"
v0.8.0 fails to build with

[code]

I believe this was already fixed on `master`. It would be great to get a compatible release! :)

[2021-02-26 19:15] NorfairKing commented on #174
This was supposed to be fixed in https://github.com/commercialhaskell/path/pull/170. Is it not?

[2021-02-26 19:20] sjakobi commented on #174
Looks like it is. Could you possibly make a release?

[2021-02-27 05:55] NorfairKing commented on #174
@sjakobi _I_ can't. I think only @chrisdone can. Chris, could you make a release?

[2021-02-27 11:32] sjakobi commented on #174
@NorfairKing you apparently did the release for v0.8.0. In principle I could I could do the release myself (see http://hackage.haskell.org/package/path/maintainers/) but I've been involved so little in this project in the past few years that it would feel like overstepping some kind of boundaries to me.

[2021-02-27 12:33] NorfairKing commented on #174
@sjakobi Oh! I I didn't remember that. I just made https://github.com/commercialhaskell/path/pull/175 to see what CI says about 9.0.1

[2021-02-27 12:35] sjakobi commented on #174
No worries @NorfairKing. Thanks!

[2021-03-12 13:05] sjakobi commented on #174
FYI: As a Hackage trustee, I have created a revision for `path-0.8.0` that prevents it from building with `template-haskell-2.17.0.0`: http://hackage.haskell.org/package/path-0.8.0/revisions/

[2021-04-12 06:12] kindaro opened #177 "Safely convert a string to a chunk of a path?"
The story is that a user gives my program a name and my program should create a directory with that name to store some files in. I do not think there are any functions in `path` to help me assure that the input is safe, and I think `path` is in the best position to host these functions.

By a _«chunk»_ I understand a string that represents exactly one step in a directory hierarchy. `path` knows wh

[2021-04-12 06:49] NorfairKing commented on #177
@kindaro I appreciate the generality of what you're asking, but could you give me an example of what you're doing right now?
I'm guessing that `resolveDir'` will be what you're using, is that right?

[2021-04-12 09:36] kindaro commented on #177
Right now I pass a `Text` to a function that needs to build a path, then in that function I `unpack` the text to a `String` and try to parse as a `Path Rel something` whenever I need to make a new file or directory. I then use it as if it was a chunk of a path and pray.

It would be better to use `resolveFile` or `resolveDir` as you suggest, but I see a few down sides to it:

* Validation would on

[2021-04-13 01:12] NorfairKing commented on #177
Pray for what?

I'm still not very clear on the specifics.
Is your code open-source so I can have a look?

[2021-04-29 09:53] andrewufrank commented on #174
I have still the following errors - could somebody upload a new version which compiles with 9.0.1? thank you!
[code]

[2021-06-18 13:53] Martinsos opened #178 "Could we get a new release?"
I created (and we merged) https://github.com/commercialhaskell/path/pull/167 in order to solve bugs with inconsistent behaviour of Path.Posix and Path.Windows on different OSes.

I am author of https://github.com/wasp-lang/strong-path library and having these bugs fixed will allow me to remove the workaround I have in place right now in my code. However, there hasn't been a new release of Path for

[2021-06-18 17:42] NorfairKing commented on #178
@Martinsos Sounds like something I can do this weekend!

[2021-06-19 10:37] NorfairKing commented on #178
https://hackage.haskell.org/package/path-0.9.0

Here you go :D

[2021-06-19 10:37] #178 closed

[2021-07-02 16:28] Martinsos commented on #178
Happy news: I updated version of `path` in `strong-path` (https://github.com/wasp-lang/strong-path/pull/23) to new release and all bugs are now fixed :)! Yay

[2021-07-02 18:44] NorfairKing commented on #178
I mostly ignore them, they're not useful for libraries (IME), only for executables where you might want to update artefacts.

My mistake, fixed :)

Yes

[2021-09-30 21:58] mastarija opened #180 "Convert Posix to Windows and vice versa"
I want to make sure certain paths are in bot `posix` and `windows` format, so I'd like to be able to convert one to the other. I haven't seen this feature unfortunately.

[2021-11-17 18:04] sjakobi opened #182 "Compatibility with hashable-1.4"
See https://hackage.haskell.org/package/hashable-1.4.0.0/changelog.

Could you upload a compatible release or revision? Thanks! :)

[2021-11-23 16:52] juhp opened #183 "path-0.9.0/test/Path/Gen.hs:144:10: error: Not in scope: type constructor or class ‘GenUnchecked’"
In the Stackage Nightly build:
[code]

[2021-11-23 21:52] NorfairKing commented on #183
Hey @juhp `genvalidity-1.0` is not backward-compatible with `genvalidity-0.x`. (and in reverse there is also not forward compatibility). How should I go about fixing this in `path`?

[2021-11-24 08:07] juhp commented on #183
Hm, well you could make a new release that uses genvalidity-1.0?
Since it is only the testsuite it should not affect people building with older versions.

[2021-11-24 09:53] NorfairKing commented on #183
Okido, coming up!

[2021-11-26 17:10] NorfairKing commented on #183
Should be fixed in `9.1.0`.

[2021-11-28 19:56] NorfairKing commented on #75
Done in recent changes.

[2021-11-28 19:56] #75 closed

[2021-11-28 19:56] NorfairKing commented on #70
Done in recent changes.

[2021-11-28 19:56] #70 closed

[2021-11-28 19:57] NorfairKing commented on #183
@juhp is it?

[2021-11-29 15:42] juhp commented on #183
I will push the change, but it is easiest for us in future if you can do a PR to that effect next time :)

[2021-12-24 13:42] Martinsos opened #186 "Adding 'Data' instance to Rel, File, Abs and Dir"
Is there are a particular reason why Rel, File, Abs and Dir are not deriving `Data`?

`data Path b t` is deriving Data, and what that does is create an instance Data for it where `b` and `t` also need to have instances of Data. However, since Rel, File, Abs and Dir don't have `Data` instances, this means that `Path Rel File`, `Path Rel Dir`, ... and so are not instances of `Data`.

I am encounteri

[2021-12-24 13:45] NorfairKing commented on #186
Sounds agreeable!

[2021-12-24 15:28] Martinsos commented on #186
Ok! I created a very simple PR here https://github.com/commercialhaskell/path/pull/187 -> I think this should be it and I can see all the checks passing. Would love to get your eyes onto it also, just to make sure I haven't missed something.

[2021-12-24 22:48] sjakobi commented on #174
Closing, since `path-0.9.1` is compatible with GHC 9.0.1.

Happy holidays, everyone! :)

[2021-12-24 22:48] #174 closed

[2021-12-26 23:11] bergmark commented on #182
ping, looks like just a bound bump is sufficient.

[2021-12-26 23:20] NorfairKing commented on #182
Done. https://hackage.haskell.org/package/path-0.9.1
This will go into the release once we reach an LTS that contains this new hashable so that I can actually try it out.

[2021-12-26 23:20] #182 closed

[2021-12-27 19:29] bergmark commented on #182
Thank you 🙇

[2022-02-17 09:29] bitc opened #188 "Add a `Read` instance (dup)"
This is a duplicate of #139 but I have different needs.

I use QuickCheck, and when it finds a failure, it prints out the failing input as a string using "show".

Sometimes I would like to manually run this same input again. The easiest way is to copy&paste this output directly into my source code (using something like [Text-RawString-QQ](https://hackage.haskell.org/package/raw-strings-qq-1.1/docs

[2022-02-17 12:42] NorfairKing commented on #188
I think it's possible to make this work safely, but I have no idea how to implement it.
PR welcome.

[2022-06-23 17:37] hasufell opened #189 "Support `AbstractFilePath`"
## Motivation

The next filepath release will add support for a new API, which fixes subtle encoding issues and improves cross platform code and memory residence.

You can read about the state of the newly added API here: https://github.com/haskellfoundation/tech-proposals/issues/35

Release candidate with haddock is here: https://hackage.haskell.org/package/filepath-2.0.0.3/candidate

Demonstrati